[viewBag]
==
<li><a href="{{ 'home'|page }}">{{'Главная'|_}}</a></li>
  <li><a href="{{'services'|page}}">{{'Услуги'|_}}</a></li>
<li><a href="{{ 'about'|page }}">{{'О компании'|_}}</a></li>
<li><a href="{{ 'contacts'|page }}">{{'Контакты'|_}}</a></li>