[viewBag]
==
<section class="footer">
    <div class="footer-up">
        <div class="container">
            <div class="footer-columns">
                <div class="footer-columns__item">
                    <div class="footer-columns-one">
                        <div class="footer-logo">
                            <a href="{{ 'home'|page }}"><img class="logo-rus" src="{{'assets/images/logo.png'|theme}}" alt="logo"></a>
                            <a href="{{ 'home'|page }}"><img class="logo-eng logo-hover" src="{{'assets/images/logo-en.png'|theme}}" alt="logo"></a>
                        </div>
                        <p>{{'Полный комплекс услуг по таможенному оформлению, транспортной и складской логистике, сопровождению ВЭД.'|_}}</p>
                        <div class="footer-button">
                            <button onclick="window.location='{{'services'|page}}'">{{'Узнать больше'|_}}</button>
                        </div>
                    </div>
                </div>
                <div class="footer-columns__item">
                    <div class="footer-srv">
                        <h4 class="footer-headline">{{'Наши услуги'|_}}</h4>
                        <ul class="footer-srv__ul">
                            <li><a href="{{'avtomobilnye-perevozki'|page}}">{{'Автомобильные перевозки'|_}}</a></li>
                            <li><a href="{{'aviaperevozki'|page}}">{{'Авиаперевозки'|_}}</a></li>
                            <li><a href="{{'zheleznodorozhnye-perevozki'|page}}">{{'Железнодорожные перевозки'|_}}</a></li>
                            <li><a href="{{'morskie-rechnye-perevozki'|page}}">{{'Морские / речные перевозки'|_}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-columns__item">
                    <div class="footer-srv">
                        <h4 class="footer-headline">{{'Навигация'|_}}</h4>
                        <ul class="footer-srv__ul">
                            {% partial 'footer-nav' %}
                        </ul>
                    </div>
                </div>
                <div class="footer-columns__item">
                    <div class="footer-columns-lcp">
                        <h4 class="footer-headline">{{'Адрес'|_}} :</h4>
                        <div class="lcp-blocks">
                            <i class="fa fa-map"></i>
                            <p><span>{{'Москва, Дербеневская наб., д. 11 корп. A, этаж 4, офис 410'|_}}</span></p>
                        </div>
                    </div>
                    <div class="footer-columns-lcp">
                        <h4 class="footer-headline">{{'Позвонить нам'|_}} :</h4>
                        <div class="lcp-blocks">
                            <i class="fa fa-phone"></i>
                            <p><span>+7 (495) 797-21-05</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-btm">
        <div class="container">
            <div class="footer-b2tm-content">
                <p>© {{'СВ ТРАНСЭКСПО'|_}}. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>