[viewBag]

[breadcrumbs breadcrumbsblog]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<section class="pages-header">
    <div class="pages-header-up">
        <div class="container">
            <div class="pages-header-up-content">
                {% partial 'top-header-items' %}
            </div>
        </div>
    </div>
    <div class="pages-header-bottom">
        <div class="container">
            <div class="pages-header-bottom-content">
                <div class="logo">
                    <a href="{{ 'home'|page }}"><img class="logo-rus" src="{{'assets/images/newlogo.jpg'|theme}}" alt="logo"></a>
                    <a href="{{ 'home'|page }}"><img class="logo-eng logo-hover" src="{{'assets/images/newlogo-eng.jpg'|theme}}" alt="logo"></a>
                </div>
                <ul class="nav__ul">
                    {% partial 'nav' %}
                </ul>
                <!--mobile menu-->
                <div class="mobile">
                    <a href="#mobile-nav" class="mobile-menu-button">
                        <span></span>
                    </a>
                    <div class="mobile-line">
                        {% partial 'mobile-nav' %}
                    </div>
                </div>
                <!--<div class="search-bascket header-hover">
                    <i class="fa fa-search"></i>
                </div>-->
                <div class="nav-button form-click">
                    <a href="#modalwindow__inner"><i class="fa fa-envelope"></i><span>{{'Обратная связь'|_}}</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="pages-header-bg {{ bgclass }}">
        <div class="container">
            <div class="pages-header-bg__h1">
                {% component 'breadcrumbsblog' %}
                <h1>{{ title | _({title: 'Services'})  }}</h1>
            </div>
        </div>
    </div>
</section>