[viewBag]
==
<div class="mobile-nav-head">
    <h4>{{'Меню'|_}}</h4>
</div>
<div class="js-menu">
    <ul>
        <li><a href="{{ 'home'|page }}">{{ 'Главная' |_ }}</a></li>
        <li>
            <a href="#">Услуги</a>
            <ul>
                <li> <a href="{{'services'|page}}">Услуги</a></li>
                <li>
                    <a href="#"> {{ 'Транспортная логистика' |_ }} </a>
                    <ul>
                        <li> <a href="{{'transportnaya-logistika'|page}}"> {{ 'Транспортная логистика' |_ }} </a></li>
                        <li><a href="{{'avtomobilnye-perevozki'|page}}">{{ 'Автомобильные перевозки' |_ }}</a></li>
                        <li><a href="{{'zheleznodorozhnye-perevozki'|page}}">{{ 'Железнодорожные перевозки' |_ }}</a></li>
                        <li><a href="{{'morskie-rechnye-perevozki'|page}}">{{'Морские/речные перевозки'|_}}</a></li>
                        <li><a href="{{'aviaperevozki'|page}}">{{'Авиаперевозки'|_}}</a></li>
                        <li><a href="{{'kontejnernye-perevozki'|page}}">{{'Контейнерные перевозки'|_}}</a></li>
                        <li><a href="{{'proektnye-perevozki'|page}}">{{'Проектные перевозки'|_}}</a></li>
                    </ul>
                </li>
                <li><a href="{{'tamozhennoe-oformlenie'|page}}">{{'Таможенное оформление'|_}}</a></li>
                <li><a href="{{'autsorsing-ved'|page}}">{{'Аутсорсинг ВЭД'|_}}</a></li>
                <li><a href="#">{{'Дополнительные услуги'|_}}</a></li>
            </ul>
        </li>
        <li>
            <a href="#">{{'О компании'|_}}</a>
            <ul>
                <li> <a href="{{ 'about'|page }}">{{'О компании'|_}}</a></li>
                <li><a href="{{'nashi-preimushchestva'|page}}">{{'Преимущества'|_}}</a></li>
                <li><a href="{{'prezentacii'|page}}">{{'Презентации'|_}}</a></li>
                <li><a href="{{'our-team'|page}}">{{'Наша Команда'|_}}</a></li>
                <li><a href="{{'nashi-proekty'|page}}">{{'Наши проекты'|_}}</a></li>
                <li><a href="{{'sertifikaty-licenzii-i-diplomy'|page}}">{{'Сертификаты, лицензии и дипломы'|_}}</a></li>
                <li><a href="{{'otzyvy-klientov'|page}}">{{'Отзывы клиентов'|_}}</a></li>
                <li><a href="{{'geografiya-otpravok'|page}}">{{'География отправок'|_}}</a></li>
                <li><a href="{{'press-centr'|page}}">{{'Пресс-центр'|_}}</a></li>
                <li><a href="{{'galereya'|page}}">{{'Галерея'|_}}</a></li>
                <li><a href="{{'dokumenty'|page}}">{{'Документы'|_}}</a></li>
            </ul>
        </li>
        <li><a href="{{ 'contacts'|page }}">{{'Контакты'|_}}</a></li>
    </ul>
</div>
<a href="#" class="active-mobile-button">
    <span></span>
</a>