[viewBag]
==
<form data-request="{{ __SELF__ }}::onFormSubmit">
		{{ form_token() }}
		<div id="{{ genericForm }}_forms_flash"></div>
		<div class="personal-form-firstline">
			<div class="form-group">
				<label for="name">{{'Ваше имя'|_}}*</label>
				<input type="text" id="name" name="Имя" required class="form-control">
			</div>
			<div class="form-group">
				<label for="phone">{{'Ваш телефон'|_}}*</label>
				<input type="text" id="Phone" name="Телефон" required class="form-control">
			</div>
			<div class="form-group">
				<label for="email">{{'Ваш Email'|_}}</label>
				<input type="text" id="email" name="email" required class="form-control">
			</div>
			<div class="form-group">
				<label for="company">{{'Название компании'|_}}</label>
				<input type="text" id="company" name="Название компании" required class="form-control">
			</div>
		</div>
		<h4>{{'Данные груза'|_}}</h4>
		<div class="personal-form-thirdline">
			<div class="form-group personal-form-thirdline__first">
				<label for="gruz">{{'Вид груза'|_}}</label>
				<input type="text" id="gruz" name="Вид груза" required class="form-control">
			</div>
			<div class="form-group personal-form-thirdline__second">
				<label for="code">{{'Код ТН ВЭД'|_}}</label>
				<input type="text" id="code" name="Код ТН ВЭД" required class="form-control">
			</div>
			<div class="form-group">
				<label for="weight">{{'Вес, кг'|_}}</label>
				<input type="number" id="weight" name="Вес" required class="form-control">
			</div>
			<div class="form-group">
				<label for="obyem">{{'Объем, м3'|_}}</label>
				<input type="number" id="obyem" name="Объем" required class="form-control">
			</div>
			<div class="form-group personal-form-thirdline__last">
				<label for="Gabarity">{{'Габариты, ШДВ'|_}}</label>
				<input type="text" id="Gabarity" name="Габариты" required class="form-control">
			</div>
		</div>
		  <div id="{{ __SELF__ }}_forms_flash"></div>
		<div class="personal-form-button">
			<button id="simpleContactSubmitButton" type="submit" class="btn btn-default">{{'Оставить заявку'|_}}</button>
			<p>{{'Оставляя заявку, вы соглашаетесь с условиями обработки'|_}} <br> {{'конфиденциальных данных и Политикой конфиденциальности'|_}}</p>
		</div>
	</form>