[viewBag]
==
<div class="services-contact-loc">
						<h4>{{'Адрес'|_}}</h4>
						<div class="services-contact">
						<i class="fa fa-map-marker-alt"></i>
						    <p>{{'Адрес'|_}}: <br>
						    <span>{{'Москва, Дербеневская наб., д. 11 корп. A, этаж 4, офис 410'|_}}</span></p>
						</div>    
					</div>
					<div class="services-contact-phone">
						<h4>{{'Телефон'|_}}</h4>
						<div class="services-contact">
						<i class="fa fa-phone"></i>
						    <p>{{'Номер телефона'|_}}: <br>
						    <span>+7 (495) 797-21-05</span></p>
					</div>	    
					</div>