[viewBag]
==
<div class="header-up__item">
    <i class="fa fa-phone"></i>
    <p>+7 (495) 797-21-05</p>
</div>
<div class="header-up__item header-hover">
    <i class="fa fa-envelope"></i>
    <p>info@svte.ru</p>
</div>
<div class="header-up__item header-hover">
    <i class="fa fa-map"></i>
    <p>{{'Москва, Дербеневская наб., д. 11 корп. A, этаж 4, офис 410'|_}}</p>
</div>
<div class="header-up__item lang">

        {% component 'localePicker' %}

</div>