<form data-request="{{ __SELF__ }}::onFormSubmit">

	<div class="phone-form">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<div class="phone-form-content">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Оставьте ваш номер телефона и мы с вами свяжемся</h4>
					</div>
					<div class="modal-body">

							{{ form_token() }}
							<div class="callback-input">
								<div class="form-group">
									<input type="text" id="name" name="Имя" required class="form-control" placeholder="{{'Ваше имя'|_}}">
								</div>
								<div class="form-group">
									<input type="text" id="Phone3" name="Телефон" required class="form-control" placeholder="{{'Ваш телефон'|_}}">
								</div>
							</div>
							<button id="simpleContactSubmitButton" type="submit" class="btn btn-default callback-button">{{'Отправить'|_}}</button>
							<div id="{{ __SELF__ }}_forms_flash"></div>

					</div>
				</div>
			</div>
		</div>
	</div>

</form>

