[viewBag]
==
<form data-request="{{ __SELF__ }}::onFormSubmit">
	{{ form_token() }}
	<div class="adres-content-right-form">
		<h4>{{'Форма связи'|_}}</h4>
		<div class="adres-content-right-form__top">
			<div class="adres-content-right-form__top-left">
				<input type="text" name="Имя" required placeholder="{{'Ваше имя'|_}}">
			</div>
			<div class="adres-content-right-form__top-right">
				<input type="Email" name="Email" required placeholder="{{'Ваше имя'|_}}">
			</div>
		</div>

		<textarea name="Сообщение" cols="30" rows="5" required placeholder="{{'Сообщение'|_}}"></textarea>
		<button>{{'Отправить сообщение'|_}}</button>
	</div>
</form>