<div class="services-personal-form form-sea">
	<div class="personal-form-headline">
		<h2>{{'Оставить заявку на морскую / речную перевозку'|_}}</h2>
		<p>{{'Наши менеджеры свяжутся с вами в течении 15 минут и проконсультируют по всем вопросам'|_}}</p>
	</div>
	{% partial 'services-form' %}
</div>