<form data-request="{{ __SELF__ }}::onFormSubmit">
	<div class="modalwindow">
		<div class="modalwindow__inner">
			<div class="modal-header">
				<h4 class="modal-title">{{'Оставьте ваш контактный номер и наши менеджеры с вами свяжутся'|_}}</h4>
			</div>
			<div class="modal-body">

					{{ form_token() }}
					<div class="callback-input">
						<div class="form-group">
							<input type="text" id="name" name="Имя" required class="form-control" placeholder="{{'Ваше имя'|_}}">
						</div>
						<div class="form-group">
							<input type="text" id="Phone4" name="Телефон" required class="form-control" placeholder="{{'Ваш телефон'|_}}">
						</div>
					</div>
					<button id="simpleContactSubmitButton" type="submit" class="btn btn-default callback-button">{{'Отправить'|_}}</button>
					<div id="{{ __SELF__ }}_forms_flash"></div>

			</div>
			<a href="#close" class="modalwindow-close">X</a>
		</div>
	</div>
</form>

