/**{
	border: 1px solid red;
    }*/
@import 'variables';

@media (max-width: 1024px) {
  .header-hover {
    display: none;
  }

  .header-nav {
    flex-direction: row;

    & > .mobile {
      order: 2;
    }
  }

  .header-nav > div {
    margin: 10px 0;
  }

  .header-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-square {
    flex-direction: column;
  }

  .header-square__block {
    width: 100%;
  }

  .header-square > div {
    margin: 10px 0;
  }

  .whoweare__content {
    flex-direction: column;
  }

  .whoweare__left {
    width: 100%;
  }

  .right-box {
    width: 50%;
  }

  .tracking-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tracking-content-blocks {
    width: 75%;
  }

  .tracking-blocks__item > * {
    padding: 4px 0;
  }

  .services-blocks {
    flex-direction: column;
  }

  .pricing-blocks {
    flex-direction: column;
  }

  .news-blocks {
    flex-direction: column;
  }

  .news-blocks__item {
    align-items: center;
  }

  .news-blocks-date {
    margin-left: -200px;
  }

  .footer-columns {
    flex-direction: column;

    &__item {
      width: 100%;
    }
  }

  .footer-columns > div {
    margin: 10px 0;
  }

  .about-who {
    flex-direction: column;

    & > div {
      padding-bottom: 30px;
    }

    &-left, &-right {
      width: 100%;
    }
  }

  .about-services-content-button {
    margin-top: 75px;
  }

  .pages-header-bottom-content {
    flex-direction: row;

    & > div, ul {
      padding-bottom: 0px;
    }

    & > .mobile {
      order: 2;
    }
  }

  .map-box {
    width: 250px;
    height: 100%;
    right: 5%;
  }

  .sertification-content {
    &__item {
      width: 50%;
      margin-bottom: 30px;
    }

    img {
      width: 75%;
    }
  }

  .section-content {
    &.blog-news {
      ul {
        flex-wrap: wrap;
      }

      li {
        width: 100%;
        margin-bottom: 15px;

        img {
          width: 50%;
        }
      }

    }
  }

  .press-content {
    li {
      width: 100%;
    }
  }

  .mobile {
    display: inline-block;
  }

  .mobile-line {
    display: inline-block;
    position: fixed;
    color: white;
    width: 100%;
    height: 100%;
    top: -1000px;
    left: 1024px;
    opacity: 0;
    font-size: 14px;
    transition: all .8s ease;
    border-radius: 0 0 0 100%;


  }

  .active-mobile {
    display: inline-block;
    position: fixed;
    background: linear-gradient(45deg, rgb(150, 130, 200) 10%, rgb(5, 188, 201));
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: left;
    font-size: 20px;
    opacity: 1;
    font-size: 14px;
    overflow-y: scroll;
    z-index: 999;
    border-radius: 0;
    transition: all .8s ease;


    li {

      a {
        color: #474747;
        font-weight: 500;
      }
    }

    h4 {
      font-size: 16px;
      color: #ffffff96;
      text-transform: none;
      padding: 10px 0;
    }
  }

  .active-mobile-fix {

  }

  .nav__ul {
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 138px;
    transition: all .3s ease;
    width: 100%;
    background: @main-color;
    display: none;


    &.active {
      height: 200px;
      left: 0;
      padding: 15px 0;
    }
  }

  .services-box {
    flex-wrap: wrap;

    &__item {
      margin-bottom: 15px;
    }
  }

  .personal-form-thirdline {
    flex-direction: column;

    & > div {
      width: 100% !important;
    }
  }

  .second-nav {
    display: none;
    margin-top: 0;

    li {
      padding: 2px 0;
    }
  }

  .second-nav-active {
    position: relative;
    display: block;
    opacity: 1;
    visibility: visible;
    background: @third-color;
  }

  .second-nav-onmouse {
    &:after {
      content: '';
    }

    &:hover {
      &.pd {
        padding: 0;
      }
    }
  }

  .second-nav .open-nav-drop {
    &:after {
      content: '';
    }
  }


  .second-nav {
    .second-nav-drop {
      display: none !important;
      position: relative;
      left: 0;
      background: transparent;
    }

    .second-nav-drop-active {
      min-width: 280px;
      position: relative;
      left: 0;
      top: 0;
      background: transparent;
      display: block !important;
    }
  }

  .personal-form-headline {
    text-align: center;
    padding: 6px 40px;

    h2 {
      font-size: 15px;
    }

    p {
      font-size: 9px;
    }
  }


  .form-group {
    margin-bottom: 0.1rem;
  }

  .personal-form-firstline {
    flex-direction: row;
    flex-wrap: wrap;

    & > div {
      width: 100% !important;
    }
  }

  .personal-form-thirdline {
    flex-direction: row;
    flex-wrap: wrap;

    & > div {
      width: 48% !important;

      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        width: 30% !important;
      }
    }
  }


  .form-control {
    padding: 0 .75rem;
  }

  .services-personal-form {
    form {
      padding: 0 10px;

      button {
        margin: 5px 0;
        font-size: 15px;
        padding: 5px 8px;
      }

      label {
        font-size: 9px;
      }

      h4 {
        font-size: 12px;
        padding: 0;
        margin: 2px 0;
      }
    }
  }


  #simpleContactSubmitButton {
    margin-top: 10px;
  }

  .modal-title {
    font-size: 20px;
  }

  .form-control {
    line-height: 1.75rem;
  }

  div#genericForm_forms_flash {
    margin-top: 20px;
    width: 50%;
    height: 42%;
    font-size: 8px;
  }

  .vertical-menu {
    font-size: 13px;
  }

  .vertical-menu-second {
    font-size: 10px;
  }

  .benefits-block {
    img {
      height: 380px;
    }

    &-text {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .main-fixed-menu {
    padding: 0 20px;
  }

  .header-form {
    flex-direction: column;
  }

  .header-headline {
    h1 {
      font-size: 40px;
      text-align: center;
    }
  }

  .main-screen-form {
    width: 100%;
  }

  .main-form-media {
    margin-bottom: 1rem;
  }

  .map-boxes {
    height: auto;
    flex-direction: column;

    &__item {
      width: 100%;
      margin: 0 0 20px;
      display: flex;
      height: auto;

      &:nth-child(2),
      &:nth-child(4) {
        flex-direction: row-reverse;
      }
    }

    &-text {
      width: 50%;
    }
  }

  .map-boxes-yamap {
    position: absolute;
    right: 0;
    width: 50% !important;
    height: 100% !important;
  }

  .main-map-box-left {
    padding-left: 0px;

  }

  .main-map-box-col {
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }

  .main-map-box {
    h3 {
      margin-bottom: 20px !important;
    }
  }

  #mymap2,
  #mymap4 {
    left: 0;
  }

  .modal-dialog {
    margin-top: 20vh !important;
  }

  .modalwindow__inner {
    max-height: 350px;

    &.active {
      top: 0vh;
    }
  }

  .modal-header {
    h4 {
      font-size: 1.5rem;
    }
  }

  .callback-input {
    input {
      padding: 10px;
    }
  }

  .callback-button {
    padding: 15px 30px;
  }

  .main-team {
    align-items: center;

    &-text {
      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 15px;
      }

      blockquote {
        font-size: 10px;
      }
    }
  }


  @media (max-width: 768px) {

    .header-nav {
      flex-direction: row;
    }


    .right-box {
      height: 220px;
      width: 45%;
    }

    .right-box__headline {
      h4, i {
        font-size: 1em;
      }
    }

    .news-blocks > div {
      margin: 16px;
    }

    .footer-btm-content {
      flex-direction: column;
    }


    .services-content-blocks-left, .services-content-blocks-right {
      width: 100%;
    }

    .services-content-blocks-right {

    }

    .services-content-blocks {
      flex-direction: column;
    }

    .vertical-menu {
      display: none;
    }

    .about-who-right {
      img {
        height: 230px;
      }
    }

    .about-services-content-box {
      flex-direction: column;

      & > div {
        margin-bottom: 0px;
        width: 100%;
      }
    }

    .about-services-content-box-center {
      img {
        width: 60%;
        margin: 0 20%;
      }
    }

    .about-who-left {
      margin-right: 0;
    }

    .adres-content {
      flex-direction: column;

      & > div {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .contacts-text-content {
      img {
        width: 100%;
      }
    }

    .our-team-content {

      &__item {
        margin-bottom: 20px;
      }
    }

    .sertification-content {
      &__item {
        width: 100%;
        margin-bottom: 30px;
      }

      img {
        width: 50%;
      }
    }

    .pages-header-bottom-content {
      flex-direction: row;
    }

    .services-box {
      flex-direction: row;

      &__item {
        margin-bottom: 20px;

      }
    }

    .breadcrumb {
      display: inline-block;
    }

    .pages-header-bg__h1 {
      text-align: center;
    }


    .main-fixed-menu {
      height: auto;

      img {
        width: 100%;
      }

    }

    .modal-dialog {
      margin-top: 20vh !important;
    }

    .modal-header {
      h4 {
        font-size: 1.5rem;
      }
    }

    .callback-input {
      input {
        padding: 10px;
      }
    }

    .callback-button {
      padding: 15px 30px;
    }

    #simpleContactSubmitButton {
      margin-top: 10px;
    }

    .modal-title {
      font-size: 20px;
    }

    .form-control {
      line-height: 1.75rem;
    }

    div#genericForm_forms_flash {
      margin-top: 20px;
      width: 50%;
      height: 42%;
      font-size: 8px;
    }

  }
  .benefits-block {
    img {
      height: 350px;
    }

    &-text {
      h2 {
        font-size: 14px;
      }

      p {
        font-size: 9px;
        line-height: 1.4em;
      }
    }
  }

  .personal-form-secondline {
    p {
      font-size: 10px;
    }
  }

  .map-boxes {
    span {
      font-size: 16px;
    }
  }

  .adres-content-right-form {
    width: 100%;
  }

  .benefits-block {
    img {
      height: 250px;
    }
  }

  .benefits-block-text {
    h2 {
      font-size: 12px;
    }

    p {
      font-size: 8px;
    }
  }

  .gallery-block {
    &__item {
      height: 250px;
    }
  }

  @media (max-width: 760px) {
    h1 {
      font-size: 26px;
    }

    .news-blocks-img {
      width: 230px;
      height: 160px;
    }

    .right-box {
      padding: 4px;
      font-size: 10px;
      height: 210px;

      i {
        font-size: 24px;
      }

      h4 {
        font-size: 16px;
      }

      .right-box__headline {
        margin-bottom: 6px;
        padding-bottom: 10px;
      }
    }

    .tracking-content-blocks {
      width: 100%;
      flex-direction: column;
      align-items: center;

      & > div {
        margin: 10px 0;
      }
    }

    .news-blocks-date {
      margin-left: -140px;
    }

    .headline-line {
      font-size: 22px;
      padding: 10px;

    }

    .about-who-right {
      img {
        height: 175px;
      }
    }

    .map-box {
      width: 100%;
      height: 50%;
      right: 0;
    }

    .sertification-content {
      &__item {
        width: 100%;
        margin-bottom: 30px;
      }

      img {
        width: 75%;
      }
    }

    .press-content {
      li {
        img {
          width: 250px;
        }
      }
    }

    .form-click {
      span {
        display: none;
      }

      a {
        background: none;
        box-shadow: none;
        border: none;
      }

      i {
        color: #474747;
        font-size: 26px;
      }
    }

    .header-nav {
      .nav-button {
        a {
          background: none;
          box-shadow: none;
          border: none;
        }

        i {
          color: white;
          font-size: 26px;
        }

        span {
          display: none;
        }
      }
    }

    .callback-input {
      flex-direction: column;

      & > div {
        margin-bottom: 10px;
        width: 100%;
      }

      input {
        padding: 4px 10px !important;
      }
    }

    .callback-button {
      padding: 10px 30px !important;
    }

    .modal-header {
      h4 {
        font-size: 1rem !important;
      }
    }

    .modalwindow__inner {
      max-width: 300px;
    }

    .main-team {
      &-text {
        h2 {
          font-size: 16px;
        }

        h3 {
          font-size: 11px;
        }
      }
    }

    .our-team-content__item {
      h3 {
        font-size: 15px;
      }

      h4 {
        font-size: 10px;
      }
    }

  }
  @media (max-width: 480px) {
    .logo {
      img {
        width: 70%;
      }
    }

    .phone-form-content {
      width: 94%;
      left: 3%;
    }

    #simpleContactSubmitButton {
      margin-top: 10px;
    }

    .modal-title {
      font-size: 20px;
    }

    .form-control {
      line-height: 1.75rem;
    }

    div#genericForm_forms_flash {
      margin-top: 20px;
      width: 50%;
      height: 42%;
      font-size: 8px;
    }

    .services-box {
      img {
        width: 80px;
        height: 80px;
      }

      &__item {
        width: 80px;
      }

      p {
        font-size: 10px;
      }
    }

    .benefits-block-text {
      padding: 0 10px;

      h2 {
        font-size: 8px;
      }
    }

    .benefits-block {
      img {
        height: 200px;
      }
    }

    .personal-form-secondline {
      p {
        width: 90% !important;
      }
    }

    .map-boxes {
      font-size: 10px;

      h3 {
        font-size: 18px;
      }

      span {
        font-size: 12px;
      }

      &-text {
        & > div, h3 {
          margin-bottom: 10px;
        }
      }
    }

    .main-map-box {
      h3 {
        margin-bottom: 10px !important;
      }
    }

    .main-map-box-left, .main-map-box-right {
      & > div {
        margin-bottom: 10px;
      }
    }

    .modal-header {
      h4 {
        font-size: 1rem;
      }
    }

    .callback-input {
      input {
        padding: 5px 10px;
      }
    }

    .callback-button {
      padding: 7px 30px;
    }

    .services-blocks__item-overflow {
      p {
        display: none;
      }

      h4 {
        margin-bottom: 20px;
      }
    }

    .header-headline {
      h1 {
        font-size: 25px;
      }
    }

    .main-team-text {
      h2 {
        font-size: 18px;
      }

      h3 {
        font-size: 16px;
      }

      blockquote {
        display: none;
      }
    }

    .our-team-content__item {
      h4 {
        font-size: 12px;
      }
    }

    .project-title {
      h4 {
        font-size: 25px;
      }
    }

    .gallery-block {
      &__item {
        width: 50%;
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .post-list {
    width: 100%;
  }

  .section-content {
    &.blog-news {
      li {
        border: 1px solid black;
      }
    }
  }

  .owl-carousel {
    .owl-item {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .breadcrumb {
    display: inline-flex;
  }

  .services-personal-form {
    border: 1px solid #000000;

    form {
      input {
        border: 1px solid #000000;

        &:focus {
          border: 1px solid #000000;
        }
      }
    }
  }

  .services-box {
    img {
      border: 1px solid #000000;
    }
  }

  .about-services-content-box {
    width: 100%;
  }

  .press-content {
    li {
      border: 1px solid #000000;
    }
  }

  .adres-content-right-form {
    input {
      border: 1px solid #ffffff;
    }
  }

  section.services {
    background: #dcdcdc;
  }

  .modal-body {
    input {
      border: 1px solid #000000;

      &:focus {
        border: 1px solid #000000;
      }
    }
  }

  .main-screen-form {
    input {
      border-bottom: 1px solid #ffffff;
    }
  }
}