.flex-sb{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.val-center{
	display: flex;
	align-items: center;
}
.flex-col{
	display: flex;
	flex-direction: column;
}
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-col-center{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}