@import 'mixin';
@import 'variables';

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf');
}

.header {
  overflow: hidden;
  width: 100%;
  position: relative;
  color: @secondary-color;
  padding: 0;

  &.services-main {
    background: url(../images/services-bg.jpg) no-repeat center /cover;
  }

  #intro {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.overlay {
  position: relative;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(97, 50, 6, 0.5));
}

.mobile-overlay {
  background: @third-color;
}

.header-up {
  .flex-sb;
  padding: 10px 0;
  border-bottom: #ffffff57 1px solid;
  font-size: 12px;

  p {
    color: @secondary-color;
  }
}

.header-up__item {
  .val-center;

  i {
    padding-right: 10px;
  }
}

.lang {
  text-align: right;

  img {
    width: 25px;
    margin-right: 2px;
  }

  a {
    color: white;
    margin-right: 10px;
    font-size: 13px;

    &:hover {
      opacity: .8;
      text-decoration: none;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  i {
    font-size: 40px;
    padding-right: 20px;
  }

  p {
    font-size: 14px;
  }

  span {
    font-weight: bold;
    font-size: 20px;
  }
}

.header-nav {
  .flex-sb;
  padding: 10px 0 40px 0;
  align-items: center;

  & > .mobile {
    span {
      background: white;

      &:after, &:before {
        background: white;
      }

      &:before {
        transform: translateY(-5px);
      }

      &:after {
        transform: translateY(5px);
      }
    }
  }

  .nav-button {
    a {
      background: linear-gradient(#0066b7, #135182);
      border: rgb(0, 92, 162) 1px solid;
      border-radius: 20px;
      padding: 8px 20px;
      color: #ffffff;
      transition: all 0.5s ease;
      box-shadow: 0 3px 8px rgb(149, 149, 149);
    }

    i {
      margin-right: 7px;
    }
  }

}

.nav__ul {
  .flex-sb;

  li {
    padding: 0 20px;

    a {
      color: #e8e0e0;
      font-weight: 400;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.second-nav-onmouse {
  &:hover {
    .second-nav, .second-nav-two, .second-nav-three {
      visibility: visible;
      opacity: 1;
    }

    &.pd {
      padding: 20px 20px;
    }
  }

  &:after {
    content: '\f107';
    font-family: fontawesome;
  }
}

.second-nav {
  background: #212121;
  position: absolute;
  min-width: 280px;
  margin-top: 20px;
  transition: all .3s ease;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  z-index: 1;
  padding: 5px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);

  li {
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      a {
        color: white;
        padding-left: 5px;
      }
    }

    a {
      display: inline-block;
      padding: 0.5em 0;
      color: lighten(#212121, 60%);
      transition: all .3s ease;
    }
  }

  .open-nav-drop {
    &:hover {
      .second-nav-drop {
        display: block;
      }
    }

    &:after {
      content: '\f105';
      font-family: fontawesome;
      color: lighten(#212121, 60%);
      margin-left: 5px;
    }
  }

  .second-nav-drop {
    min-width: 280px;
    display: none;
    position: absolute;
    left: 280px;
    top: 0;
    background: #212121;
    border-radius: 5px;

    li {
      transition: all .2s ease;

      a {
        color: lighten(#212121, 60%);

        &:hover {
          color: white;
          margin-left: 5px;
        }
      }
    }


  }
}

.search-bascket i {
  padding-right: 20px;
}

.header-headline {
  padding-bottom: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  h1 {
    font-size: 50px;
    text-align: right;
  }

  h2 {
    padding: 0;
  }
}

.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 40px;
}

.main-screen-form__inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    width: 100%;
  }
}

.main-screen-form {
  width: 38%;
  border: 2px solid;
  padding: 20px 0;

  h2 {
    text-align: center;
    letter-spacing: 0.07em;
    padding: 0;
  }

  input {
    width: 70%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #ffffffa6;
    border-radius: 0px;

    &::placeholder {
      color: #ffffffcf;
    }
  }

  button {
    width: 70%;
    box-shadow: none;
    font-size: 20px;
    letter-spacing: 0.05em;
    padding: 15px 0;
    border: none;
  }

  .form-numb {
    width: 40%;
    margin-bottom: 50px;
  }
}


.main-form-media {
  margin-bottom: 0.5rem;
}

@media ( max-width: 1680px ) {
  .main-form-media {
    input {
      font-size: 12px;
    }
  }

  .main-screen-form .form-numb {
    margin-bottom: 10px !important;
  }
}

.header-headline__button {
  padding: 5px 20px;
}

.header-square {
  .flex;
  width: 100%;
  padding-bottom: 60px;

  i {
    padding-right: 16px;
  }

}

.header-square__block {
  width: 30%;
  background-color: #ffffff1f;
  flex-grow: 1;
  margin: 0px 14px;
  border: 1px solid #d4d0d0;
  border-radius: 6px;
  padding: 30px 20px;

  p {
    font-size: 15px;
  }
}

.block__cnt {
  display: flex;
  align-items: center;

  img {
    padding-right: 10px;
  }

  i {
    font-size: 30px;
    padding-bottom: 6px;
  }
}

.whoweare__content {
  .flex-sb;
  align-items: center;
}

.whoweare__left {
  width: 50%;
}

.howeare__right {
  width: 50%;
}

.whoweare__left-top {
  padding-bottom: 80px;

  h3 {
    color: @main-color;
  }

  p {
    padding-bottom: 30px;
  }
}

.left-top__headline {
  display: flex;
  align-items: center;
  padding-bottom: 15px;

  i {
    font-size: 40px;
    padding-right: 20px;
  }
;
}

.whoweare__left-bottom {
  li {
    background: #929292;
    padding: 10px 20px;
    margin: 5px 0;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
      background: @main-color;
    }

    a {
      color: @secondary-color;
    }

    i {
      padding-right: 10px;
    }

  }

  li + p {
    line-height: 0px;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: all .3s ease;
  }

  li.active + p {
    opacity: 1;
    line-height: 23px;
    padding: 10px 0;
  }
}

section.whoweare {
  background: url('../images/about-bg.jpg');
}

section.services {
  background: #92929252;
}

section.news {
  background: #dcdcdc63;
}

.button-news {
  margin-top: 30px;

  a {
    background: linear-gradient(#0066b7, #135182);
    border: rgb(0, 92, 162) 1px solid;
    border-radius: 20px;
    padding: 8px 20px;
    color: #ffffff;
    transition: all 0.5s ease;
    box-shadow: 0 3px 8px rgb(149, 149, 149);

    &:hover {
      background: linear-gradient(lighten(#0066b7, 10%), lighten(#135182, 10%));
      text-decoration: none;
    }
  }
}


.whoweare-ul-p {
  padding: 30px 0;
}

.whoweare__right {
  .flex-col;
}

.right-top, .right-bottom {
  .flex-sb;
}

.right-box {
  width: 250px;
  height: 275px;
  margin: 10px;
  background-color: @main-color;
  color: @secondary-color;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  i {
    font-size: 40px;
    padding-right: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    transform: scale(1.6);
  }

  &.right-box-img {
    padding: 0;
    overflow: hidden;
  }
}

.right-box__headline {
  border-bottom: 1px solid @secondary-color;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tracking {
  background: url(../images/section3-bg.jpg) center no-repeat / cover;
  position: relative;
  color: @secondary-color;

  &.about-tracking {
    background: #232121;
  }
}

.tracking-content {
  .flex-sb;
  flex-direction: column;
  text-align: center;
}

.tracking-content-text {
  width: 55%;
  padding: 15px 0;
}

.tracking-content-blocks {
  .flex;
  width: 100%;
  align-items: flex-start;
}

.tracking-blocks__item {
  .flex-col-center;
  width: 40%;
  flex-grow: 1;
  margin: 0 15px;
  border-radius: 10px;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
  }

  img {
    width: 30%;
    height: auto;
    margin: 15px 0;
  }
}

.mission {
  box-shadow: none !important;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.blog-news {
    ul {
      display: flex;
      justify-content: space-between;

      &.pagination {
        display: none;
      }
    }

    li {
      width: 33%;
      margin: 0 10px;
      background: white;
      padding: 30px;
      box-shadow: 1px 1px 20px 1px #00000030;

      img {
        width: 100%;
        height: 200px;
        padding: 10px 0;
      }

      a {
        color: black;
        transition: all 0.3s ease;

        &:hover {
          text-decoration: none;
          color: lighten(@third-color, 20%);
        }
      }

      h3 {
        height: 95px;
        overflow: hidden;
      }

    }
  }
}

.section-headline {
  width: 50%;
  text-align: center;
  padding-bottom: 40px;

  i {
    font-size: 20px;
    color: @main-color;
  }
;
}

.services-blocks {
  .flex;
  text-align: center;
  padding-bottom: 40px;

  i {
    color: @main-color;
    font-size: 40px;
  }
}

.services-blocks__item {
  margin: 0 20px;
  position: relative;
  box-shadow: 1px 1px 7px 1px #00000075;

  img {
    width: 100%;
  }

  &-overflow {
    background: #00000091;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      padding: 10px 28px;
      color: white;
      text-shadow: 2px 2px 1px black;
    }

    a {
      background: linear-gradient(#0066b7, #135182);
      padding: 8px 20px;
      border-radius: 2px;
      text-shadow: none;
      box-shadow: 1px 1px 20px 5px #04040469;
      width: 50%;
      margin: 0 auto;

      &:hover {
        text-decoration: none;
        background: linear-gradient(darken(#0066b7, 10%), darken(#135182, 10%));
        color: white;
      }
    }
  }
}

.pricing-blocks {
  .flex-sb;
  width: 100%;
}

.pricing-blocks__item {
  border-radius: 10px;
  padding: 10px 25px;
  text-align: center;

  &:hover {
    background: @main-color;
    color: @secondary-color;

    .price-hover {
      background-color: lighten(@main-color, 10%);
      border-radius: 30px;
      width: 70%;
      margin: 0 auto;
    }

    .pricing-button__item {
      background-color: #3d3b3c;
    }

    .pricing-ul {
      li {
        padding: 8px 0;

        &:nth-child(2n+1) {
          background-color: #f15552;
        }
      }
    }
  }
}

.pricing-top {
  padding-bottom: 40px;

  p {
    text-transform: uppercase;
    font-weight: 600;

    span {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

.pricing-name {
  font-weight: 900 !important;
}

.pricing-ul {
  padding-bottom: 20px;

  li {
    padding: 8px 0;

    &:nth-child(2n+1) {
      &:hover {
        background-color: #f15552;
      }
    }
  }
}

.pricing-button__item {
  padding: 2px 50px;
}

.news-blocks {
  .flex-sb;
}

.news-blocks__item {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  flex-grow: 1;
  max-width: 33.33333333%;
  box-shadow: 0px 16px 16px -13px rgba(0, 0, 0, 0.08);
}

.news-blocks-img {
  position: relative;
  background: black;
  height: 230px;

  img {
    width: 100%;
    height: 100%;
  }
}

.news-blocks-date {
  margin-left: 30px;
  margin-top: -25px;
  width: 50px;
  position: absolute;
}

.date-num {
  .flex-center;
  height: 30px;
  background: @main-color;
  color: @secondary-color;
}

.date-tex {
  text-align: center;
  color: gray;
  font-size: 12px;
  background: #f3f3f3;
}

.news-blocks-text {
  font-weight: bold;
  font-size: 16px;
  max-height: 148px;
  min-height: 148px;
  background: white;
  padding: 30px;
}

section.footer {
  padding: 0;
}

.footer-up {
  background-color: #494949;
  color: #c4c2c3;
  padding: 60px 0;
}

.footer-columns {
  .flex;
}

.footer-columns__item {
  flex-grow: 1;
  width: 25%;
  margin: 0px 14px;
}

.footer-logo {
  padding-bottom: 30px;
  display: flex;
  align-items: center;

  img {
    width: 80%;
  }

  i {
    font-size: 40px;
    padding-right: 20px;
  }

  p {
    font-size: 14px;
  }

  span {
    font-weight: bold;
    font-size: 20px;
  }
}

.footer-button {
  padding-top: 30px;

  button {
    &:hover {
      background-color: lighten(@third-color, 30%);
    }
  }
}


.footer-srv__ul {
  li {
    border-bottom: 1px solid #c4c2c330;
    padding: 10px 0;

    a {
      color: #c4c2c3;

      &:hover {
        color: @secondary-color;
        text-decoration: none;
      }
    }
  }
}

ul.footer-srv__ul > li:before {
  content: ">";
  color: @secondary-color;
  font-size: 15px;
  padding-right: 8px;
}

.footer-columns-lcp {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.lcp-blocks {
  display: flex;
  align-items: center;

  p {
    padding-left: 14px;
    color: @secondary-color;
    font-weight: 600;
    font-size: 14px;
  }
}

.footer-btm {
  background-color: #333132;
  color: @secondary-color;
  padding: 50px 0;
}

.footer-btm-content {
  .flex-sb;
}

.footer-btm-ul {
  display: flex;
  justify-content: end;

  li {
    padding: 0 6px;
  }
}

.mobile {
  display: none;
}

/*pages uslugi*/
.pages-header {
  width: 100%;
  position: relative;
  padding: 0;
}

.pages-header-up {
  background-color: @third-color;
}

.pages-header-up-content {
  .flex-sb;
  color: @secondary-color;
  padding: 10px 0;
  font-size: 12px;
}

.pages-header-bottom {
  background-color: @secondary-color;
  padding: 10px 0;
  color: @third-color;

  ul {
    li {
      a {
        color: @third-color;

        &:hover {
          color: @main-color;
        }
      }
    }
  }

}

.pages-header-bottom-content {
  .flex-sb;
}

.pages-header-bg {
  background: url(../images/services-bg.jpg) no-repeat center / cover;
  padding: 40px 0;
}

.pages-header-bg__h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    padding-bottom: 0;
  }

  ul {
    .flex-sb;

    li {
      padding: 0 5px;

      a {
        color: @secondary-color;
      }
    }
  }
}

.services-content-blocks {
  display: flex;
  justify-content: space-between;
}

.services-content-blocks-left {
  width: 75%;
  margin-right: 40px;

  ul {
    margin-left: 50px;

    li {
      padding: 10px;
      width: 80%;

      &:before {
        content: '\f05d';
        color: @main-color;
        padding: 0 10px;
        font-family: FontAwesome;
      }
    }
  }
}

.services-slider {
  margin: 20px;
}

.services-content-blocks-right {
  width: 25%;
}

.services-slider {
  img {
    width: 100%;
  }
}

.vertical-menu {


  ul {
    li {
      background: linear-gradient(to right, #076fda, #074384);
      /* border-bottom: 1px white solid; */
      padding: 14px 20px;
      cursor: pointer;
      transition: all .3s ease;
      margin-bottom: 7px;
      border-radius: 5px;
      box-shadow: 1px 2px 3px 1px #00000050;
      text-shadow: 1px 1px 2px #ffffff36;

      &:hover {
        background: linear-gradient(to top, #024386, #02182f);

      }

      a {
        color: @secondary-color;

        &:hover {
          text-decoration: none;
        }
      }
    }

  }
}

.vertical-menu-second {
  font-size: 14px;
}

.form-services {
  margin: 30px 0;
  background: @third-color;
  border-radius: 5px;
  padding: 30px;
  color: @secondary-color;

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    & > div {
      width: 48%;
    }

    input {
      background: lighten(@third-color, 10%);

      &::placeholder {
        color: lighten(@secondary-color, 50%);
      }
    }

    button {
      background: lighten(@main-color, 10%);
      padding: 10px 30px;
      margin: 15px 0;
    }
  }
}

.form-group {
  &.small {
    width: 22%;
  }

  &.select {

    p {
      padding: 0 20px;
    }

    input {
      margin-right: 5px;
    }

    &.pd {

    }
  }
}

div#genericForm_forms_flash {
  position: absolute;
  bottom: -30px;
  right: 0;
}

.services-content-contact {
  border: 1px @third-color solid;
  margin-top: 30px;
  padding: 20px;
}

.services-content-contact > div {
  padding-bottom: 20px;
}

.services-contact {
  display: flex;

  i {
    font-size: 30px;
    padding-right: 10px;
    margin-top: 10px;
  }
}

.services-content-blocks-left > p, h2 {
  padding: 10px 20px;
}

.services-contact-form {
  margin-top: 20px;
  background: @third-color;
  padding: 20px 30px;
  color: @secondary-color;

  & > * {
    width: 100%;
  }

  h4 {
    padding-bottom: 20px;
  }

  p {
    padding-bottom: 5px;
  }

  input {
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border: 1px solid #ffffff82;

    &.form-message {
      height: 100px;
    }
  }

  button {
    border-radius: 0;
    padding: 10px 0;
    width: 100%;

    &:hover {
      background-color: @main-color;
    }
  }
}

.adres-content {
  .flex-sb;

  &-right, &-left {
    width: 50%;
    margin: 0 5px;
  }
}

.adres-content-left-text {
  span {
    font-weight: bold;
  }

  p {
    padding: 10px 0;
  }

  i {
    color: @main-color;
    padding: 0 10px;
  }
}

.adres-content-right-form {
  background-color: #ffffff;
  color: black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 35px auto 0;

  p {
    padding: 10px 0;
  }

  h4 {
    text-align: center;
    font-size: 30px;
    letter-spacing: .3rem;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  &__top {
    .flex;

    &-left, &-right {
      display: flex;
      flex-direction: column;
      width: 48%;
      padding-bottom: 15px;

      &.letter-input {
        padding-bottom: 0;
      }
    }

    &-left {
      margin-right: 10px;
    }
  }

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #0766ce66 !important;
    padding: 6px 10px;
    color: black;

    &.form-message {
      height: 100px;
      white-space: normal;
    }

    &::placeholder {
      color: #00000082;
    }
  }

  textarea {
    border: none;
    border-bottom: 1px solid #0766ce66 !important;

    &::placeholder {
      color: #0000007a;
      padding: 40px 8px;
    }
  }

  button {
    background: linear-gradient(#0066b7, #135182);
    border-radius: 55px;
    margin: 30px auto 0;
    padding: 15px 0;
    width: 40%;
  }
}

@media ( max-width: 768px ) {
  .adres-content-right-form {
    button {
      width: 70%;
    }
  }
}

@media ( max-width: 480px ) {
  .adres-content-right-form {
    button {
      width: 100%;
    }
  }
}

.map {
  width: 100%;
  height: 400px;
  position: relative;

  &-box {
    position: absolute;
    width: 350px;
    height: 310px;
    background: @main-color;
    color: @secondary-color;
    bottom: 0;
    margin-left: 60%;
    padding: 50px 30px;
    box-shadow: #0000007a 1px 1px 5px 1px;
    z-index: 2;

    & > div {
      margin-bottom: 30px;
    }

    &-top {
      border-bottom: 1px solid @third-color;
      padding-bottom: 15px;

    }
  }
}

#mymap,
#mymap2,
#mymap3 {
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.contacts-text-content {
  text-align: center;

  h1 {
    color: black;
  }

  h2 {
    padding: 20px 0;
  }

  h4 {
    padding: 15px 0;
  }

  p {
    padding-bottom: 15px;
  }
}

.about-who {
  .flex-sb;

  &-left, &-right {
    width: 50%;
  }

  &-left {
    margin-right: 30px;
  }

  &-right {
    overflow: hidden;

    img {
      width: 100%;
      height: 300px;
      transform: scale(1);
      object-fit: cover;
    }
  }
}

.about-services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-services-content-box {
  .flex-sb;

  &-left, &-right {
    display: flex;
    flex-direction: column;
    text-align: center;

    & > div {
      padding-bottom: 10px;
    }

    i {
      font-size: 40px;
      color: @main-color;
    }

    h4 {
      font-size: 17px;
      font-weight: 700;
    }

    p {
      color: lighten(@third-color, 20%);
    }
  }

  &-left, &-right, &-center {
    width: 33%;
    margin: 0 5px;

    img {
      width: 100%;
      border-radius: 200px;
    }
  }
}

.about-services-content-button {
  margin-top: 10px;
  vertical-align: center;

  button {
    padding: 10px 30px;
  }
}

.press-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    h2 {
      margin: 0;
      padding: 20px 0;
      font-size: 25px;
    }

    p {
      padding-bottom: 10px;
    }
  }

  &-date, &-autor {
    display: flex;
    align-items: center;
    margin-right: 40px;

    i {
      color: @main-color;
      margin-right: 10px;
    }
  ;

    p {
      padding: 0;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  li {
    width: 48%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #00000029;

  }
}

.press-content-img {
  overflow: hidden;

  img {
    max-width: 100%;
    height: 300px;
    transform: scale(2);
  }
}

.magazine {
  transform: scale(1) !important;
}

.press-content-date-autor {
  display: flex;
  justify-content: start;
  padding-bottom: 20px;
}

.our-team-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 18px;

  &__item {
    margin: 0 5px;
    text-align: center;
    width: 31%;
  }

  &-img {
    img {
      border-radius: 10px;
      width: 100%;

    }
  }
}

.sertification-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    box-shadow: 1px 1px 10px 1px #0000002b;
    margin: 0 20px 15px;
    text-align: center;
    width: 25%;
    border: 1px solid #00000038;
    height: 450px;

    &-img {
      width: 100%;
      height: 75%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      font-size: 20px;
      padding: 10px 20px;
    }
  }

  &-img {
    img {
      border-radius: 10px;
      width: 100%;
      height: 380px;
      object-fit: cover;
    }
  }
}

.sertification-headline {
  height: 25%;
  background: #1053881f;

  h3 {
    font-size: 18px;
    padding: 10px 20px;
    font-weight: bold;
  }
}

.pages-header-bottom-content {
  li {
    .second-nav {
      li {
        a {
          color: lighten(#212121, 60%);
          transition: all 0.3s ease;

          &:hover {
            color: white;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.our-prem-content {
  width: 100%;
}

.form-group {
  textarea {
    width: 100%;
  }
}


.whoweare__right {
  width: 48%;
  @media (max-width: 760px) {
    width: 100%;
  }
}


.project-content__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 10px 2px #0000008a;
  margin-bottom: 40px;

  img {
    width: 50%;
    height: 360px;
  }

  &.reverse {
    img {
      order: 2;
    }
  }
}

.project-content-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 1.5em;

  h2 {
    background: linear-gradient(to right, rgb(87, 103, 199), rgba(87, 103, 199, 0.51));
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
  }

  p {
    padding: 0 20px;
  }
}

.post-list {
  li {
    margin-bottom: 50px;
  }
}

.excerpt {
  display: flex;
  flex-direction: column;

  img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
}

.form-control {
  background: transparent;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  display: flex;

  &:hover {
    background: transparent;
    color: white;
  }

  option {
    background: @third-color;
  }

  &:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    outline: 0;
  }
}

.logo-hover {
  display: none;
}

.f-nav {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  box-shadow: 1px 1px 17px #0000007a;

  .logo {
    img {
      width: 80%;
    }
  }

  .nav__ul {
    .pd {
      padding: 10px 20px;
    }
  }
}

.main-fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ffffff3b;
  padding: 10px 20px;
  background: @third-color;
  justify-content: center;

  .logo {
    img {
      width: 80%;
    }
  }

  .nav__ul {
    .pd {
      padding: 10px 20px;
    }
  }

  & > * {
    padding: 0 30px;
  }
}

@media (max-width: 1200px) {
  .main-fixed-menu {
    & > * {
      padding: 0 10px;
    }
  }

  .personal-form-secondline {
    p {
      width: 40% !important;
    }
  }
}

.hover {
  display: none;
}

.services-box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 40px 15px 0;

  &__item {
    width: 150px;
    margin: 10px 20px;
  }

  img {
    width: 150px;
    height: 150px;
    border: 1px solid #00000054;
    box-shadow: 0px 2px 6px #00000047;
    margin-bottom: 10px;
    padding: 16px;
  }

  p {
    font-size: 14px;
  }
}

.services-personal-form {
  border: 1px solid #00000042;
  margin-top: 40px;

  &.form-avia {
    background: url(../images/form-bg.jpg) no-repeat bottom / cover;
  }

  &.form-road {
    background: url(../images/form-bg-road.jpg) no-repeat bottom / cover;
  }

  &.form-rail {
    background: url(../images/form-bg-rail.jpg) no-repeat bottom / cover;
  }

  &.form-sea {
    background: url(../images/form-bg-sea.jpg) no-repeat bottom / cover;
  }

  &.form-project {
    background: url(../images/form-bg-project.jpg) no-repeat bottom / cover;
  }

  &.form-conteiner {
    background: url(../images/form-bg-container.jpg) no-repeat bottom / cover;
  }

  &.form-custom {
    background: url(../images/form-bg-custom.jpg) no-repeat bottom / cover;
  }

  &.form-services-main {
    background: url(../images/form-bg-services.jpg) no-repeat bottom / cover;
  }

  form {
    padding: 10px 40px;

    input {
      border: 1px solid #00000042;
      color: black;

      &:focus {
        color: black;
        border: 1px solid #00000042;
      }

      &:hover {
        color: black;
      }
    }

    button {
      font-size: 20px;
      color: black;
      margin: 40px 0 10px 0;
      background: #f24942;
      padding: 10px 40px;
      font-weight: 500;
      box-shadow: 1px 1px 6px 1px #00000082;
    }

    label {
      font-size: 11.5px;
    }
  }
}

.personal-form-firstline, .personal-form-secondline {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    width: 30%;
  }
}


.personal-form-secondline {
  padding: 15px 0;
  justify-content: center;
  flex-wrap: wrap;

  p {
    width: 30%;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 400;
  }

  input {
    margin-right: 10px;
  }
}


.personal-form-thirdline {
  display: flex;
  justify-content: space-between;

  & > div {
    width: 10%;
  }

  &__first {
    width: 30% !important;
  }

  &__second {
    width: 18% !important;
  }

  &__last {
    width: 18% !important;
  }

}

.personal-form-headline {
  border-bottom: 1px solid #00000059;
  padding: 25px 40px;

  h2 {
    margin: 0;
    padding: 5px 0;
  }
}

.personal-form-button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  p {
    text-align: center;
    font-size: 10px;
    width: 100%;
    padding: 10px 0;
    color: white;
    text-shadow: 1px -1px 5px black;
  }
}

.avia {
  background: url(../images/fly-carriage.jpg) no-repeat center;
  background-size: cover;
}

.road {
  background: url(../images/car-carriage.jpg) no-repeat center;
  background-size: cover;
}

.rail {
  background: url(../images/railway-carriage.jpg) no-repeat center;
  background-size: cover;
}

.sea {
  background: url(../images/sea-carriage.jpg) no-repeat center;
  background-size: cover;
}

.project {
  background: url(../images/project.jpg) no-repeat center;
  background-size: cover;
}

.conteiner {
  background: url(../images/container.jpg) no-repeat center;
  background-size: cover;
}

.custom {
  background: url(../images/tamoznya.jpg) no-repeat center;
  background-size: cover;
}

.team {
  background: url(../images/team-bg.jpg) no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

.gallery-bg {
  background: url(../images/gallery-bg.jpg) no-repeat;
  background-size: cover;
  background-position-y: 60%;
}

.sertification-bg {
  background: url(../images/sertification-bg.jpg) no-repeat center;
  background-size: cover;
}

.about-bg {
  background: url(../images/about-bgh.jpg) no-repeat;
  background-size: cover;
  background-position-y: 45%;
}

.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: .25rem;
  color: white;
  display: -webkit-box;
  background: none;

  li {
    padding: 0 10px;

    a {
      color: white;
    }

    &:after {
      content: '\f105';
      font-family: fontawesome;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.mobile-menu-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 2px;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
    background: @third-color;
    transition: 0.5s;

    &:after, &:before {
      content: '';
      position: absolute;
      top: 50%;
      width: 20px;
      height: 2px;
      left: 50%;
      margin-left: -10px;
      margin-top: -1px;
      background: @third-color;
    }

    &:before {
      transform: translateY(-5px);
    }

    &:after {
      transform: translateY(5px);
    }
  }
}

.active-mobile-button {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  top: -1000px;
  right: 1024px;
  transition: all .8s ease;

  span {
    position: absolute;
    top: 50%;
    width: 25px;
    height: 3px;
    left: 50%;
    margin-left: -20px;
    margin-top: -1px;
    transition: 0.5s;
    background: transparent !important;

    &:after, &:before {
      content: '';
      position: absolute;
      top: 50%;
      width: 30px;
      height: 3px;
      right: 20%;
      margin-left: 0;
      margin-top: -1px;
      background: #274092 !important;
    }

    &:before {
      transform: rotate(45deg) !important;
      background: white !important;
    }

    &:after {
      transform: rotate(-45deg) !important;
      background: white !important;
    }
  }
}

.mobile-open {
  right: 0;
  top: 3px;
}

.mobile-menu-plus,
.mobile-menu-plusc,
.mobile-menu-plusl,
.mobile-menu-plust,
.mobile-menu-plud,
.mobile-menu-plusd {
  display: none !important;
}

@media (max-width: 1024px) {
  .mobile-menu-plus,
  .mobile-menu-plusc, {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    top: 2px;
    left: 25px;
    display: contents !important;

    i {
      &.icon-active {
        transform: rotate(90deg);
      }
    }
  }

  .mobile-menu-plusl,
  .mobile-menu-plust,
  .mobile-menu-plusd {
    display: contents !important;

    i {
      &.icon-active {
        transform: rotate(90deg);
      }
    }
  }

}

.current {
  background: #000000ad!important;

  &:before {
    content: '\f105';
    font-family: fontawesome;
    color: white;
    font-size: 14px;
    margin-right: 10px;
  }

}

.form-click {
  a {
    background: linear-gradient(#0066b7, #135182);
    border: rgb(0, 92, 162) 1px solid;
    border-radius: 20px;
    padding: 8px 20px;
    color: #ffffff;
    transition: all 0.5s ease;
    box-shadow: 0 3px 8px rgb(149, 149, 149);

    &:hover {

      text-decoration: none;
    }
  }

  i {
    margin-right: 7px;
  }
}

.phone-form {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: black;
  z-index: 999;

  &.active {
    display: block;
  }
}

.phone-form-content {


}

.modal-content {
  border: none;

  input {
    border: 1px solid #0000003d;

  }

  &:focus {
    border: 1px solid #0000003d;
  }
}

.modal-body {
  input {
    color: black;

    &:focus {
      color: black;
      border: 1px solid #0000003d;
    }
  }
}

.modal-header {
  text-align: center;

  h4 {
    font-size: 2rem;
  }
}

.modal-dialog {
  margin-top: 30vh !important;
}

div#genericForm_forms_flash {
  margin-top: 20px;
  width: 50%;
  height: 36%;
  font-size: 8px;
  bottom: 0;
  z-index: -1;
}

.alert-dismissible .close {
  top: -7px;
}

.slick-class {
  width: 100%;
}

@media (max-width: 1200px) {
  .services-blocks__item {
    &-overflow {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * {
        font-size: 12px;
      }

      a {
        width: 50%;
        margin: 10px auto;
      }
    }
  }
}

@media (max-width: 1000px) {
  .services-blocks__item {
    &-overflow {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * {
        font-size: 8px;
        padding: 0 20px;
      }

      p {
        margin-bottom: 10px;
      }

      a {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .services-blocks__item {
    &-overflow {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > * {
        font-size: 12px;
        padding: 0 20px;
      }

      a {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 480px) {
  .services-blocks__item {

    &-overflow {

      & > * {

      }

      a {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}

.our-prem {
  padding: 0 0 50px;
}

.benefits-container {
  width: 100%;
}

.benefits-headline,
.services-headline {
  padding: 40px 0 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #373a3c4a;

  h4 {
    text-transform: uppercase;
    font-size: 25px;
    color: #373a3c;
    font-weight: bold;
    margin: 0 18px;
    text-shadow: 1px 1px 5px #00000066;
  }
}

.services-headline {
  padding: 0 0 30px;

  h4 {
    margin: 0;
  }
}

.benefits-block {
  overflow: hidden;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  max-height: 500px;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  img {
    width: 100%;
    height: 500px;
    transform: scale(1);
    position: relative;
    z-index: 0;
    transition: all .5s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  &.second-benefits,
  &.four-benefits,
  &.six-benefits {
    background: #f7f7f7;

    h2 {
      text-shadow: 1px 1px 5px #00000057;
    }
  }


}

.benefits-block-text {
  width: 50%;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  h2 {
    font-size: 26px;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #00000057;
    margin-bottom: 0.5em;
  }

  i {
    display: block;
    width: 42px;
    height: 3px;
    background: #0e568f9c;
    margin-bottom: 20px;
  }

  p {
    line-height: 1.7em;
    font-size: 16px;
  }

  &.left-align {
    margin-right: 0;
  }
}

.benefits-block-img {
  width: 50%;
  overflow: hidden;
}

.benefits-hover {
  display: none;
}

.mobile-first,
.mobile-second,
.mobile-third,
.mobile-four,
.mobile-five {
  display: none;
  padding-left: 30px;

  li {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.mobile-first-active {
  display: block;
}

.active-mobile {
  li {
    padding: 10px 0;
  }
}

.mobile-nav-head {
  background: black;
}

.alert-dismissible .close {
  display: none;
}

.alert {
  margin-bottom: 0;
  margin-top: 10px;
}

.main-message {
  .alert-success {
    background: transparent;
    border: none;
    width: 70%;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 10px 0;
  }
}

.close {
  font-size: 4.5rem;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
}

button.close {
  padding: 20px;
  box-shadow: none;

  &:hover {
    background: none;
  }
}

.callback-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > div {
    width: 48%;
  }

  input {
    padding: 20px 10px;
  }
}

.callback-button {
  padding: 20px 30px;
  width: 100%;
  margin: 0 auto;
}

.services-img {
  margin: 0 auto;
  width: 90%;

  img {
    width: 100%;
  }
}

.adres-content-left-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.adres-content-text {
  text-align: center;
}

.slider-us {
  width: 100%;
  margin: 10px 0;

  h1 {
    color: black;
  }
}

.slick-slider-2 .slick-slide .slide-image {
  background-size: auto !important;
  background-repeat: no-repeat;
}

.map-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;

  i {
    margin-right: 5px;
    color: @main-color;
  }

  span {
    font-size: 18px;
  }

  h3 {
    font-size: 24px;
  }
}

@media (max-width: 1200px) {
  .map-boxes {
    font-size: 12px;
  }
}

.map-boxes__item {
  width: 30%;
  border: 3px solid #0866ce;
  box-shadow: 1px 1px 9px 1px #0000006e;
  margin: 0px 10px;
  position: relative;
  margin-bottom: 20px;
  height: 480px;
}

.main-map-box {
  width: 100%;
  height: 480px;

  h3 {
    margin-bottom: 40px !important;
    font-size: 35px;
    font-weight: bold;
  }
}

#mymap {
  height: 45%;
}

.map-boxes-text {
  padding: 15px 25px 0;

  h3 {
    margin-bottom: 20px;
  }

  & > div {
    margin-bottom: 20px;
  }
}

.main-map-box-col {
  display: flex;

  & > div {
    width: 50%;
  }
}

.main-map-box-left {
  margin-right: 30px;
  padding-left: 50px;

  span {
    font-size: 26px;
  }
}

.main-map-box-left,
.main-map-box-right {
  & > div {
    margin-bottom: 20px;
  }
}

.map-boxes-yamap {
  width: 100%;
  height: 32%;
  position: absolute;
  bottom: 0;
}

/********modalwindow************/
.modalwindow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: .8s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__inner {
    position: relative;
    top: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    max-height: 500px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    transition: .8s ease-in-out;

    &.active {
      top: 0;
      right: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
  }

  &-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0c5a98;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: #fff;
      background: lighten(#0c5a98, 10%);
    }
  }

  input {
    border: 1px solid #00000047;

    &:hover {
      color: black;
    }
  }
}

/**********end modalwindow*/ ///////////////
.our-team {
  background: white;

  &.other-team {
    background: white;
    padding: 0 0 50px;
  }
}

.main-team {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;

  & > div {
    margin: 0 25px;
  }

  &-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;

    h2 {
      padding: 0;
      margin: 10px 0;
      font-weight: bold;
      letter-spacing: .2rem;
      text-shadow: 1px 1px 1px;
      font-size: 40px;
    }

    h3 {
      margin-bottom: 15px;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: .05rem;
    }

    blockquote {
      font-style: italic;
      font-size: 18px;
      font-weight: ;
      font-family: -webkit-pictograph;
      letter-spacing: .03rem;
      color: #464646;
    }
  }

  &-image {
    width: 100%;

    img {
      width: 100%;
      border-radius: 0%;
    }
  }
}

.our-team-content__item {
  margin: 0 7px 14px;
  position: relative;
  overflow: hidden;
  width: 344px;
  height: 344px;
  box-shadow: 1px 1px 5px 0px;
  border-radius: 65%;

  img {
    border-radius: 0px;
    box-shadow: 1px 1px 4px 1px #00000073;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  h3 {
    margin: 10px 0 5px;
    font-size: 26px;
    font-weight: 700;
    padding: 0 20px;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }
}

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .our-team-content__item {
    width: 277px;
    height: 277px;
  }
}

@media (max-width: 991px) {
  .our-team-content__item {
    width: 204px;
    height: 204px;

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }
  }
}

@media (max-width: 767px) {
  .our-team-content__item {
    width: 240px;
    height: 240px;

  }
}

@media (max-width: 576px) {
  .our-team-content__item {
    width: 190px;
    height: 190px;
  }

  .our-team-content {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .main-team {
    flex-direction: column;
  }
}


.our-team-name {
  text-align: center;
}

@media (max-width: 991px) {
  .our-team-name-text {
    h3, h4 {
      font-size: 16px;
    }
  }
}

.otzyv-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > div {
    margin: 0px 15px 30px;
    padding: 0 0 50px;
    border-bottom: 1px solid #00000024;

    &:last-child {
      border-bottom: none;
    }
  }
}

.otzyv-item {
  width: 100%;
  display: flex;

  &-img {
    width: 20%;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;

    p {
      padding-bottom: 10px;
    }

    a {
      color: #055fa7;
      font-weight: 700;
      text-transform: uppercase;
      transition: all .3s ease;

      &:hover {
        border-bottom: 1px solid;
        text-decoration: none;
      }
    }

    i {
      color: #89b3de;
      margin-right: 10px;
    }
  }

  img {
    width: 150px;
    height: 200px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.22);
  }
}

.otzyv-date {
  color: #89b3de;
}

@media (max-width: 991px) {
  .otzyv-item-img {
    width: 35%;
  }
}

@media (max-width: 767px) {
  .otzyv-item-text {
    width: 60%;

    p {
      font-size: 12px;
    }
  }

  .otzyv-item-img {
    img {
      width: 120px;
    }
  }
}

@media (max-width: 480px) {
  .otzyv-item {
    flex-direction: column;

    &-text {
      width: 100%;
      text-align: center;
      align-items: center;
    }

    &-img {
      width: 100%;
      margin: 0 auto 20px;

      img {
        width: 50%;
        margin: 0 25% 20px;
        object-fit: cover;
      }
    }
  }
}

.project-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 50px 0;
}

.project-cart {
  width: 30%;
  margin: 15px 1.5%;
  height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 10px 1px #00000087;

  img {
    height: 100%;
    padding: 0;
    border: none;
    box-shadow: 1px 1px 10px 1px black;
    object-fit: cover;
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #0000006b;
    width: 100%;
    height: 110%;
    transition: all .5s ease;

    h4 {
      color: white;
      font-size: 30px;
      text-transform: uppercase;
      text-shadow: 2px 2px 10px black;
      font-weight: 600;
      padding: 0 25px;
      letter-spacing: 0.1rem;
      text-align: right;
      margin-top: 90%;
    }

    &:hover {
      top: -55px;
      background: rgba(0, 0, 0, 0.64);
    }

  }

}

.project-title-button {
  position: absolute;
  width: 100%;
  bottom: -5px;
}

@media (max-width: 1200px) {
  .project-block {
    & > div {
      width: 46.5%;
    }
  }
}

@media (max-width: 991px) {
  .project-block {
    & > div {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .project-cart-overlay {
    h4 {
      margin-top: 50%;
    }
  }
}

@media (max-width: 767px) {
  .project-cart-overlay {
    h4 {
      margin-top: 65%;
    }
  }
}


.btn-project {
  background: linear-gradient(#0066b7, #135182);
  padding: 15px 20px;
  border-radius: 0px;
  text-shadow: none;
  box-shadow: 1px 1px 20px 5px #04040469;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    background: linear-gradient(#004a84, #0c3556);
    color: white;
  }
}

.gallery {
  padding: 0 0 40px;
}

.gallery-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 33.3%;
    height: 370px;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: all .5s ease;
    cursor: pointer;

    &:hover {
      .gallery-slide {
        position: absolute;
        color: white;
        font-size: 80px;
        background: #000000cf;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

      }

      a {
        color: white;
        transition: all .3s ease;

        &:hover {
          text-decoration: none;
          transform: scale(1.2);
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:nth-child(4n+1){
      width: 66.6%;
    }
    &:nth-child(4n+4){
      width: 66.6%;
    }
  }
}

.gallery-slide {
  display: none;
  transition: all .5s ease;
}

.services-tile-button {
  width: 50%;
}

.services-tile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px 1px #00000094;

  &__item {
    width: 100%;
    position: relative;
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.2);
      }

      &-hover {
        background: red !important;
      }
    }

    img {
      width: 100%;
      height: 401px;
      transition: all .5s ease;
    }

    &-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to left, rgba(1, 99, 177, 0.13), rgba(16, 83, 135, 0.31));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: all .5s ease;

      &:hover {
        background: linear-gradient(to left, rgba(1, 99, 177, 0.42), rgba(16, 83, 135, 0.65));

        h2 {
          transform: scale(1.1);

        }

        p {
          display: flex;
        }

        .services-tile-button {
          display: flex;
          justify-content: center;
        }
      }

      h2 {
        color: white;
        text-shadow: 2px 2px 5px black;
        transition: all .5s ease;
      }

      p {
        display: none;
        color: white;
        text-shadow: 2px 2px 5px black;
      }

      .services-tile-button {
        display: none;
        background: linear-gradient(#0066b7, #135182);
        padding: 8px 20px;
        text-shadow: none;
        width: 50%;
        color: white;
        margin: 10px 0;
        letter-spacing: 1px;

        &:hover {
          text-decoration: none;
          background: linear-gradient(#004a84, #0c3556);
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .services-tile__item {
    img {
      height: 244px;
    }

    h2 {
      font-size: 22px;
    }
  }
}

@media (max-width: 480px) {
  .services-tile__item {
    width: 100%;
  }
}

.lang-hover {
  display: none;
}

.project-page-main {
  img {
    padding: 0;
    box-shadow: 1px 1px 4px 1px #00000026;
    border: none;
    border-radius: 0px;
  }

  h4 {
    text-transform: uppercase;
    font-size: 30px;
    color: #373a3c;
    font-weight: bold;
    margin: 0 18px;
    text-shadow: 1px 1px 5px #00000066;
    line-height: 2rem;

  }

}

.project-headline-line {
  width: 60px;
  height: 5px;
  background: #115184ba;
  margin: 20px;
}

.project-top {
  display: flex;
  margin-bottom: 50px;
}

.project-description-top,
.project-description-bottom {
  display: flex;
  margin-bottom: 40px;
}

.project-description {
  padding: 0 20px;

  i {
    color: #5180a5;
    font-size: 40px;
    margin-right: 20px;
  }

  h4 {
    font-size: 30px;
    padding-bottom: 10px;
  }

  p {
    padding: 0 20px;
  }
}

.project-description-top-right {
  p {
    font-weight: 500;
  }
}

.project-description {
  img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.small-project {
  display: flex;
  margin: 10px 0 0 20px;
  flex-wrap: wrap;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

@media (max-width: 1199px) {
  .small-project {
    img {
      width: 70px;
      height: 70px;
    }
  }
}

@media (max-width: 991px) {
  .small-project {
    img {
      width: 40px;
      height: 40px;
    }
  }
}

@media (max-width: 767px) {
  .project-top {
    flex-direction: column;

    & > div {
      margin-bottom: 20px;
    }
  }
}

.download {
  padding-left: 20px;
  font-size: 20px;
}


.case-form {
  background: #dcdcdc63;
}

.case-form-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: center;

  input {
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
  }

  label {
    font-size: 25px;
    font-weight: 600;
  }
}

.case-phone {
  width: 50%;
  padding: 15px 0;
}

@media (max-width: 991px) {
  .case-form-block {
    input {
      width: 100%;
    }
  }

  .case-phone {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .section-headline {
    width: 90%;
  }

  .tracking-blocks__item {
    width: 90%;
  }
}

.alert-success {
  background-color: transparent;
  border-color: transparent;
  color: #478a48;
  font-size: 20px;
}

.alert-dismissible {
  padding-right: 0;
}

.js-menu {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 10px 30px;

  ul {
    li {
      a {
        color: white;
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .js-menu {
    flex-direction: column;
    padding: 10px 50px;
  }
}

.geography {
  padding: 0;
}

#geography-map {
  width: 100%;
  height: 500px;
}

.letter {
  text-align: center;

  &-form {
    input {
      margin-bottom: 50px;
    }

    textarea {
      border: 1px solid #0766ce66 !important;
      padding: 20px 13px 0;

      &::placeholder {
        padding: 0;
      }
    }
  }
}

.custom-tr {
  width: 100%;
  display: flex;
  align-items: center;

  p {
    width: 70%;
    margin: 0 auto;
    text-align: left;
  }
}

@media (max-width: 991px) {
  .custom-tr {
    img {
      width: 100px;
      height: 100px;
    }
  }

  .services-content-blocks-left,
  .services-content-blocks-right {
    width: 100%;
  }

  .services-content-blocks-right {
    display: none;
  }
}

@media (max-width: 480px) {
  .custom-tr {
    width: 100% !important;
    flex-direction: column;

    p {
      width: 100%;
      text-align: center;
    }
  }
}

.mobile-second-ul {
  padding: 0 25px;
  margin-bottom: 15px;
}