/*@main-color: #5767c7;*/
@secondary-color: white;
@third-color: #474747;

/*@main-color: #3a4853;*/

@main-color: #135182;


.mt-none {
  margin-top: 0 !important;
}

.mt-sm {
  margin-top: 0.4em !important;
}

.mt-md {
  margin-top: 0.8em !important;
}

.mt-lg {
  margin-top: 1em !important;
}

.mt-xlg {
  margin-top: 1.6em !important;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mb-sm {
  margin-bottom: 0.4em !important;
}

.mb-md {
  margin-bottom: 0.8em !important;
}

.mb-lg {
  margin-bottom: 1em !important;
}

.mb-xlg {
  margin-bottom: 1.6em !important;
}

.mr-sm {
  margin-right: 0.4em !important;
}

.mb-none {
  margin-left: 0 !important;
}

.ml-sm {
  margin-left: 0.4em !important;
}

.ml-md {
  margin-left: 0.8em !important;
}

.ml-lg {
  margin-left: 1em !important;
}

.ml-xlg {
  margin-left: 1.6em !important;
}

.pb-none {
  padding-bottom: 0 !important;
}

.pt-none {
  padding-top: 0 !important;
}

.p-none {
  padding: 0 !important;
}

.text-center {
  text-align: center;
}

.lighter {
  font-weight: 100
}

.light {
  font-weight: 200
}

.regular {
  font-weight: 300
}

.bold {
  font-weight: 400
}

.bolder {
  font-weight: 600
}

.boldest {
  font-weight: 800
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  color: #e8e0e0;
  padding-bottom: 40px;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background: linear-gradient(#0066b7, #135182);
  border: rgb(0, 92, 162) 1px solid;
  border-radius: 20px;
  padding: 8px 20px;
  color: #ffffff;
  transition: all 0.5s ease;
  box-shadow: 0 3px 8px rgb(149, 149, 149);

  &:hover {
    background: linear-gradient(lighten(#0066b7, 10%), lighten(#135182, 10%));
  }

  i {
    padding-right: 10px;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

.button {
  background: linear-gradient(#0066b7, #135182);
  border: rgb(0, 92, 162) 1px solid;
  border-radius: 20px;
  padding: 8px 20px;
  color: #ffffff;
  transition: all 0.5s ease;
  box-shadow: 0 3px 8px rgb(149, 149, 149);

  &:hover {
    background: linear-gradient(lighten(#0066b7, 10%), lighten(#135182, 10%));
    color: white;
    text-decoration: none;
  }

  i {
    padding-right: 10px;
  }

  a {
    color: white;
  }
}

section {
  padding: 50px 0;
}

.headline-line {
  overflow: hidden;
  text-align: center;
  font-weight: bold;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  &:before, &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #cbcbcb;
    position: relative;
    margin-top: 10px;
  }

  &:before {
    margin-left: -100%;
    left: -15px;
  }

  &:after {
    margin-right: -100%;
    right: -15px;
  }
}

.footer-headline {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

body {
  transition: all .5s ease;
  font-family: "Fira Sans";
}
.body-mobile-fix{
  overflow: hidden;
}