[viewBag]
==

<form data-request="{{ __SELF__ }}::onFormSubmit">
          {{ form_token() }}
          <div id="{{ genericForm }}_forms_flash"></div>
          <div class="personal-form-firstline">
            <div class="form-group">
              <label for="name">{{'Ваше имя'|_}}*</label>
              <input type="text" id="name" name="Имя" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="Phone">{{'Ваш телефон'|_}}*</label>
              <input type="text" id="Phone" name="Телефон" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="email">{{'Ваш Email'|_}}</label>
              <input type="text" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="company">{{'Название компании'|_}}</label>
              <input type="text" id="company" name="Название компании" class="form-control" required>
            </div>
          </div>
          <h4>{{'Выбрать тип перевозки'|_}}</h4>
          <div class="personal-form-secondline">
            <p><input id="section-form" name="Тип перевозки" type="radio" value="Автомобильная перевозка" required>{{'Автомобильная'|_}}</p>
            <p><input id="section-form" name="Тип перевозки" type="radio" value="Авиаперевозка" required>{{'Авиаперевозка'|_}}</p>
            <p><input id="section-form" name="Тип перевозки" type="radio" value="Железнодорожная перевозка" required>{{'Железнодорожная'|_}}</p>
            <p><input id="section-form" name="Тип перевозки" type="radio" value="Морская / речная перевозка" required>{{'Морская / речная'|_}}</p>
            <p><input id="section-form" name="Тип перевозки" type="radio" value="Проектная перевозка" required>{{'Проектная'|_}}</p>
            <p><input id="section-form" name="Тип перевозки" type="radio" value="Контейнерная перевозка" required>{{'Контейнерная '|_}}</p>
          </div>
          <h4>{{'Данные груза'|_}}</h4>
          <div class="personal-form-thirdline">
            <div class="form-group personal-form-thirdline__first">
              <label for="gruz">{{'Вид груза'|_}}</label>
              <input type="text" id="gruz" name="Вид груза" class="form-control" required>
            </div>
            <div class="form-group personal-form-thirdline__second">
              <label for="code">{{'Код ТН ВЭД'|_}}</label>
              <input type="text" id="code" name="Код ТН ВЭД" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="weight">{{'Вес, кг'|_}}</label>
              <input type="number" id="weight" name="Вес" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="obyem">{{'Объем, м3'|_}}</label>
              <input type="number" id="obyem" name="Объем" class="form-control" required>
            </div>
            <div class="form-group personal-form-thirdline__last">
              <label for="Gabarity">{{'Габариты, ШДВ'|_}}</label>
              <input type="text" id="Gabarity" name="Габариты" class="form-control" required>
            </div>
          </div>
           <div id="{{ __SELF__ }}_forms_flash"></div>
          <div class="personal-form-button">
            <button id="simpleContactSubmitButton" type="submit" class="btn btn-default">{{'Оставить заявку'|_}}</button>
            <p>{{'Оставляя заявку, вы соглашаетесь с условиями обработки'|_}} <br> {{'конфиденциальных данных и Политикой конфиденциальности'|_}}</p>
          </div>
        </form>