[localePicker]
forceUrl = 0

[genericForm headercallback]
group = "Форма обратной связи"
messages_success = "Ваше сообщение отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!DOCTYPE html>

<html lang="ru">

<head>
    <title>{{ this.page.title |_ ({title:'title'}) }}</title>
    <meta name="description" content="{{ this.page.meta_description}}">
    <meta name="keywords" content="{{ this.page.meta_keywords}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google" content="notranslate"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}">

    <link href="{{ [
  'assets/vendor/bootstrap/dist/css/bootstrap.min.css',
  'assets/vendor/font-awesome/css/font-awesome.min.css',
  'assets/vendor/animate.css/animate.min.css',
  'assets/vendor/plyr/dist/plyr.css',
  'assets/less/slick.less',
  'assets/less/slick-theme.less',
  'assets/css/owl.carousel.min.css',
  'assets/css/owl.theme.default.min.css',
  'assets/less/style.less',
  'assets/less/media.less',
  'assets/css/jquery.formstyler.css',
  'assets/css/jquery.formstyler.theme.css',
  'assets/css/slinky.min.css'
  ]|theme }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css"/>
    {% styles %}
</head>
<body>
{% component 'headercallback' %}
{% page %}
{% partial 'footer' %}

<script src="{{ [
 'assets/vendor/jquery/dist/jquery.min.js',
 'assets/vendor/tether/dist/js/tether.min.js',
 'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
 'assets/vendor/wow/dist/wow.min.js',
 'assets/vendor/holderjs/holder.min.js',
 'assets/vendor/plyr/dist/plyr.js',
 'assets/js/slick.min.js',
 'assets/js/owl.carousel.min.js',
 'assets/js/scripts.js',
 'assets/js/jquery.maskedinput.js',
 'assets/js/jquery.formstyler.min.js',
 'assets/js/slinky.min.js',
 'assets/js/jquery.vide.min.js'
 ]|theme }}"></script>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            pageLanguage: 'ru',
            includedLanguages: 'en,ru',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
            multilanguagePage: true
        }, 'google_translate_element');
    }
</script>

<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


{% scripts %}
{% framework extras %}
</body>

</html>