title = "Blog category"
url = "/blog/category/:slug/:page?"
layout = "default"
is_hidden = 0
child_of = "press-centr"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "about"
==
{% partial 'header' title='Пресс-центр' %}
<section class="press">
	<div class="container">
		<div class="press-content">
	    <div class="col-sm-9">

            <!-- Blog Post #1 -->
            {% if not category %}
    <h3>Category not found</h3>
{% else %}
    <h3>{{ category.name }}</h3>
{% endif %}
            
            {% component 'blogPosts' %}

            <!-- Blog Post #2 -->
            

            <!-- Pagination -->
            
            <div class="clearfix"></div>
        </div>
        <div class="col-sm-3">

            {% partial 'blog/sidebar' %}

        </div>
	    	
		</div>
	</div>
</section>