title = "blog_post"
url = "/blog/post/:slug"
layout = "default"
meta_title = "post.title"
is_hidden = 0
child_of = "press-centr"
hide_crumb = 0
crumb_title = " "
remove_crumb_trail = 0
crumb_disabled = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
<?php
    function onEnd() {
       $this->page->title = $this->post->title;
}
?>
==
{% partial 'header' title=post.title %}

<section class="press">
	<div class="container">
		<div class="press-content">
	    <div class="col-sm-9">
          <h3>{{ post.title }}</h3>
            <!-- Blog Post #1 -->
          {% component 'blogPost'%}

            <!-- Blog Post #2 -->
            

            <!-- Pagination -->
            
            <div class="clearfix"></div>
        </div>
       
	    	
		</div>
	</div>
</section>