title = "О компании"
url = "/about"
layout = "default"
meta_title = "О компании"
meta_description = "О компании"
is_hidden = 0
child_of = "home"
hide_crumb = 0
crumb_title = "О компании"
remove_crumb_trail = 0
crumb_disabled = 0
==

{% partial 'header' title='О компании' bgclass='about-bg'%}
<section class="about">
	<div class="container">
		<div class="about-who">
			<div class="about-who-left">
				<div class="left-top__headline">
					<i class="fa fa-globe"></i>
					<h3>{{'О нас'|_}}</h3>
				</div>
				<p>{{'Многофункциональный транспортно-логистический холдинг «СВ-ТРАНСЭКСПО» – один из крупнейших в России 3PL-операторов.'|_}} {{'На протяжении более 18 лет успешно предоставляет комплексные решения по таможенному оформлению, транспортной и складской логистике, а также оказываем услуги по аутсорсингу ВЭД.'|_}}</p><br>
			</div>
			<div class="about-who-right">
				<img src="{{'assets/images/team-about.jpg'|theme}}" alt="abuot">
			</div>
		</div>
	</div>
</section>

<section class="tracking about-tracking">
	<div class="container">
		<div class="tracking-content">
			<div class="tracking-content-text">
				<h3>{{'НАШИ ЦЕННОСТИ'|_}}</h3>
				<p>{{'Ценности Компании «СВ-ТРАНСЭКСПО» — не пустой звук. Это та движущая сила, которая позволяет нам достигать высоких результатов.'|_}}</p>
			</div>	
			<div class="tracking-content-blocks">
				<div class="tracking-blocks__item">
					<h4>{{'Клиенты'|_}}</h4>
					<img src="{{'assets/images/customer.svg'|theme}}" alt="">
					<p>{{'Их интересы и партнерские отношения с ними – основа нашей деятельности.'|_}} {{'Своим клиентам мы всегда предлагаем индивидуальные и гибкие условия решения любых задач независимо от их сложности.'|_}}</p>
				</div>
				<div class="tracking-blocks__item">
					<h4>{{'Команда'|_}}</h4>
					<img src="{{'assets/images/team.svg'|theme}}" alt="">
					<p>{{'Мы добились успеха, потому что смогли объединить уникальных профессионалов в единую по духу команду.'|_}} {{'У нас работают подготовленные, нацеленные на результат специалисты, безупречно знающие свое дело.'|_}}</p></div>
					<div class="tracking-blocks__item">
						<h4>{{'Репутация'|_}}</h4>
						<img src="{{'assets/images/fame.svg'|theme}}" alt="">
						<p>{{'Добросовестность, порядочность, ответственность — главные принципы нашей работы.'|_}} {{'Мы держим свои обещания.'|_}} {{'Мы играем только по правилам.'|_}}</p>
					</div>
				</div>	
			</div>
		</div>
	</section>

	<section class="about-services">
		<div class="container">
			<div class="about-services-content">
				<div class="section-headline">
					<i class="fa fa-truck"></i>
					<h2 class="headline-line"><span>{{'Наша миссия'|_}}</span></h2>
					<p>{{'Быть лучшим партнером для своих клиентов, участвуя в развитии их бизнеса путем успешного решения логистических задач.'|_}}</p><br>
					<p><b>{{'Группа компаний «СВ-ТРАНСЭКСПО» - действительный член:'|_}}</b></p>
				</div>
				<div class="about-services-content-box">
					<div class="about-services-content-box-left">
						<div class="about-services-content-box-left-top">
							<div class="services-blocks__item mission">
								<h4>{{'Торгово-промышленной палаты Российской Федерации'|_}}</h4>
							</div>
						</div>
						<div class="about-services-content-box-left-bottom">
							<div class="about-services-content-box-left-top">
								<div class="services-blocks__item mission">
									<h4>{{'Союза транспортников России'|_}}</h4>
								</div>
							</div>
						</div>
						<div class="about-services-content-box-left-top">
							<div class="services-blocks__item mission">
								<h4>{{'Российской Ассоциации Экспедиторских и логистических организаций'|_}}</h4>
							</div>
						</div>
						<div class="about-services-content-box-left-bottom">
							<div class="about-services-content-box-left-top">
								<div class="services-blocks__item mission">
									<h4>{{'Американо-Российского Делового Совета '|_}}</h4>
								</div>
							</div>
						</div>
						<div class="about-services-content-box-left-top">
							<div class="services-blocks__item mission">
								<h4>{{'Российско-Германской внешнеторговой палаты'|_}}</h4>
							</div>
						</div>
					</div>
					<div class="about-services-content-box-center">
						<img src="{{'assets/images/mission.jpg'|theme}}" alt="services">
					</div>
					<div class="about-services-content-box-right">
						<div class="about-services-content-box-right-top">
							<div class="services-blocks__item mission">
								<h4>{{'Ассоциация российских экспедиторов'|_}}</h4>
							</div>
						</div>
						<div class="about-services-content-box-right-bottom">
							<div class="services-blocks__item mission">
								<h4>{{'Ассоциации Некоммерческого партнерства "Содействие развитию внешнеэкономической деятельности»'|_}}</h4>
							</div>
						</div>
						<div class="about-services-content-box-left-top">
							<div class="services-blocks__item mission">
								<h4>{{'Итало-Российская торговая палата'|_}}</h4>
							</div>
						</div>
						<div class="about-services-content-box-left-bottom">
							<div class="about-services-content-box-left-top">
								<div class="services-blocks__item mission">
									<h4>{{'Франко-Российской торгово-промышленной палаты'|_}}</h4>
								</div>
							</div>
						</div>
						<div class="about-services-content-box-left-top">
							<div class="services-blocks__item mission">
								<h4>{{'ФИАТА'|_}}</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>