title = "Аутсорсинг-ВЭД"
url = "/autsorsing-ved"
layout = "default"
meta_title = "Аутсорсинг-ВЭД"
meta_description = "Аутсорсинг-ВЭД"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Аутсорсинг ВЭД"
remove_crumb_trail = 0
crumb_disabled = 0
==

{% partial 'header' title='Аутсорсинг-ВЭД' %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Аутсорсинг внешнеэкономической деятельности— это передача организацией определённых бизнес-процессов или производственных функций в сфере ВЭД'|_}} {{'на обслуживание другой компании, специализирующейся в соответствующей области на профессиональном уровне.'|_}}</p>
				<p><b>{{'Аутсорсинг ВЭД включает в себя широкий спектр услуг и решает целый ряд задач: '|_}}</b></p>
				<ul>
					<li>{{'поиск и проверка поставщиков'|_}};</li>
					<li>{{'составление и заключение Международного контракта'|_}};</li>
					<li>{{'покупка валюты и оплата по контракту'|_}};</li>
					<li>{{'прохождение валютного контроля '|_}};</li>
					<li>{{'юридическое сопровождение'|_}}.</li>
					<li>{{'транспортно-экспедиционное обслуживание'|_}}.</li>
					<li>{{'таможенное оформление товара '|_}}.</li>
					<li>{{'доставка и складская обработка в соответствии с требованием поставки'|_}}.</li>
					<li>{{'передача всей необходимой документации'|_}}</li>
				</ul>
				<p><b>{{'ГК «СВ-ТРАНСЭКСПО»'|_}}</b> {{'выступает в качестве Вашего Торгового Агента, взяв на себя все риски и обязательства по осуществлению импортно/экспортных операций между Вами, Вашими поставщиками и партнерами.'|_}}</p>
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>