title = "Авиаперевозки"
url = "/aviaperevozki"
layout = "default"
meta_title = "Авиаперевозки"
meta_description = "Авиаперевозки"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Авиаперевозки"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm aviaform]
group = "Форма авиаперевозки"
messages_success = "Ваше сообщение успешно отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Авиаперевозки'  bgclass="avia" %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Авиаперевозки — это быстрый и удобный способ доставки грузов. По скорости авиаперевозки во многом превосходят другие способы грузоперевозок.'|_}} {{'Мы сотрудничаем с крупнейшими мировыми авиакомпаниями, такими как: American Airlines, Lufthansa, Аэрофлот, Emirates, Singapore Airlines, S7, Thai Arlines, а также British Airways.'|_}}</p>
				<div class="services-box">
					<div class="services-box__item">
						<img src="{{'assets/images/avia/shipping.svg'|theme}}" alt="">
						<p>{{'Доставка груза со склада отправителя до порта отправления'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/avia/boxes.svg'|theme}}" alt="">
						<p>{{'Консолидация грузов, в том числе грузов, находящихся в таможенном режиме'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/avia/record.svg'|theme}}" alt="">
						<p>{{'Экспортно-импортное оформление'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/avia/warehouse.svg'|theme}}" alt="">
						<p>{{'Обеспечение ответственного хранения груза на наших складах до момента отправки'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/avia/stock.svg'|theme}}" alt="">
						<p>{{'Полный комплекс погрузо-разгрузочных операций'|_}}</p>
					</div>
				</div>
				{% component 'aviaform' %}
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>