title = "Автомобильные перевозки"
url = "/avtomobilnye-perevozki"
layout = "default"
meta_title = "Автомобильные перевозки"
meta_description = "Автомобильные перевозки"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Автомобильные перевозки"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm roadform]
group = "Автомобильные перевозки"
messages_success = "Ваше сообщение успешно отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Автомобильные перевозки' bgclass="road" %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Благодаря большому опыту успешной работы с  региональными  и международными перевозчиками, грамотно организованной  логистике, а также современному автопарку,'|_}} {{' компания «СВ-ТРАНСЭКСПО» готова обеспечить доставку груза в самые короткие сроки и по оптимальным ценам.'|_}}</p>
				<div class="services-box">
					<div class="services-box__item">
						<img src="{{'assets/images/road/van.svg'|theme}}" alt="">
						<p>{{'Газели-бычки'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/road/truck.svg'|theme}}" alt="">
						<p>{{'Тенты объемом от 15-30 до 115-120 м3, грузоподъемностью от 1-3 до 22 тонн'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/road/cargo.svg'|theme}}" alt="">
						<p>{{'Автовозы'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/road/truck1.svg'|theme}}" alt="">
						<p>{{'Контейнерные площадки для перевозки контейнеров <br>20’, 40’, 45’'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/road/tank-truck.svg'|theme}}" alt="">
						<p>{{'Цистерны для пищевых продуктов;'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/road/truck2.svg'|theme}}" alt="">
						<p>{{'Низкорамные площадки и тралы для перевозки негабаритных и тяжеловесных грузов;'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/road/trucking.svg'|theme}}" alt="">
						<p>{{'Автокраны, грузоподъемность 14-400 тонн.'|_}}</p>
					</div>
				</div>
				{% component 'roadform' %}
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>