title = "Проект"
url = "/proekt/:slug"
layout = "default"
meta_title = "Проект"
is_hidden = 0
child_of = "nashi-proekty"
crumb_title = " "
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm caseform]
group = "Форма с проектов"
messages_success = "Ваша заявка принята"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<?php
function onStart(){
    $this['case'] = snapix\svte\models\CompanyCase::where('slug','=', $this->param('slug'))->first();
    $this['reviews'] = snapix\svte\models\Review::all();

}
function onEnd() {
     $this->page->title = $this['case']->client;
}
?>
==
{% partial 'header' title=case.client %}


<div class="container m-t-3">
    <div class="row">
        <div class="project-top">
            <div class="col-md-6 project-page-main">

                <!--<a data-fancybox="gallery" href="{{ image.path }}">-->
                <img class="img-fluid img-thumbnail" src="{{ case.images[0].path  }}" alt="">
                <!-- </a>-->

            </div>
            <div class="col-md-6 project-page-main">
                <h4> {{ case.name|_}} </h4>
                <div class="project-headline-line"></div>
                <div class="small-project">
                    {% for image in case.images %}
                    <a data-fancybox="gallery" href="{{ image.path }}">
                        <img class="img-fluid img-thumbnail" src="{{ image.path }}" alt="">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="project-description">
            <div class="project-description-top">
                <div class="project-description-top-left">
                    <img src="{{'assets/images/man.svg'|theme}}" alt="">
                </div>
                <div class="project-description-top-right">
                    <h4>{{'Клиент:'|_}}</h4>
                    <p>{{ case.client|_ }}</p>
                </div>
            </div>
            <div class="project-description-bottom">
                <div class="project-description-bottom-left">
                    <img src="{{'assets/images/description.svg'|theme}}" alt="">
                </div>
                <div class="project-description-bottom-right">
                    <h4>{{'Описание проекта:'|_}}</h4>
                    <p>{{ case.description|raw }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="services">
    <div class="container">
        <div class="section-content">
            <div class="section-headline">
                <i class="fa fa-bookmark"></i>
                <h2 class="headline-line"><span>{{'Отзывы'|_}}</span></h2>
                <p></p>
            </div>
            <div class="services-blocks slick-class">
                {% for item in reviews%}
                <div class="services-blocks__item">
                    <a data-fancybox="gallery" href="{{ item.image.path }}">
                        <img src="{{ item.image.path }}" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="services-button">
                <a href="{{'otzyvy-klientov'|page}}" class="button">{{'Подробнее'|_}}</a>
            </div>
        </div>
    </div>
</section>
<section class="case-form">
    <div class="container">
        <div class="section-content">
            <div class="section-headline">
                <i class="fa fa-phone"></i>
                <h2 class="headline-line"><span>{{'Остались вопросы?'|_}}</span></h2>
                <p>{{'Оставьте номер телефона ниже, и наши специалисты ответят на любые ваши вопросы!'|_}}</p>
                {% component 'caseform' %}
            </div>
        </div>
    </div>
</section>