title = "Контакты"
url = "/contacts"
layout = "default"
meta_title = "Контакты"
meta_description = "Контакты"
is_hidden = 0
child_of = "home"
hide_crumb = 0
crumb_title = "Контакты"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm contactform]
group = "Форма контакты"
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Контакты' %}
<section class="adres">
	<div class="container">
		<div class="map-boxes">
			<div class="map-boxes__item main-map-box">
				<div class="map-boxes-text">
					<h3>{{'Москва'|_}}</h3>
					<div class="main-map-box-col">
						<div class="main-map-box-left">
							<div class="main-map-box__item">
								<i class="fa fa-phone"></i><span>+ 7 (495) 797-21-05</span>
							</div>
							<div class="main-map-box__item">
								<p>E-mail:</p>
								<i class="fa fa-envelope"></i><span>info@svte.ru</span>
							</div>
						</div>
						<div class="main-map-box-right">
							<div class="main-map-box__item">
								<p>{{'Адрес'|_}}:</p>
								<i class="fa fa-map"></i>	{{'115114, Москва, Дербеневская наб., д. 11, корп. A'|_}}
							</div>
							<div class="main-map-box__item">
								<p>{{'Время работы'|_}}:</p>
								<i class="fas fa-business-time"></i>	{{'8:00 - 19:00'|_}} <br>
							</div>
							<a href="#" class="modal-map">{{'Схема проезда'|_}}</a>
						</div>
					</div>
				</div>
				<div class="map-boxes-yamap" id="mymap"></div>
			</div>
			<div class="map-boxes__item">
				<div class="map-boxes-text">
					<h3>{{'Владивосток'|_}}</h3>
					<div class="main-map-box__item">
						<i class="fa fa-phone"></i><span>+7 (904) 629-08-81</span>
					</div>
					<div class="main-map-box__item">
						<p>E-mail:</p>
						<i class="fa fa-envelope"></i><span>kiklo.d@svvk.ru</span>
					</div>
					<div class="main-map-box__item">
						<p>{{'Адрес'|_}}:</p>
						<i class="fa fa-map"></i>	{{'690065, г. Владивосток, ул.Стрельникова,3Б, оф1101'|_}}
					</div>
					<div class="main-map-box__item">
						<p>{{'Время работы'|_}}:</p>
						<i class="fas fa-business-time"></i>	{{'9:00 - 18:00'|_}} <br>
					</div>
				</div>
				<div class="map-boxes-yamap" id="mymap2"></div>
			</div>
			<div class="map-boxes__item">
				<div class="map-boxes-text">
					<h3>{{'Чебоксары'|_}}</h3>
					<div class="main-map-box__item">
						<i class="fa fa-phone"></i><span>+7 (917) 651-65-10</span>
					</div>
					<div class="main-map-box__item">
						<p>E-mail:</p>
						<i class="fa fa-envelope"></i> <span>koznov.e@svte.ru</span>
					</div>
					<div class="main-map-box__item">
						<p>{{'Адрес'|_}}:</p>
						<i class="fa fa-map"></i>	{{'428003, г.Чебоксары, ул.Пристанционная,д.1'|_}}
					</div>
					<div class="main-map-box__item">
						<p>{{'Время работы'|_}}:</p>
						<i class="fas fa-business-time"></i>	{{'9:00 - 18:00'|_}} <br>
					</div>
				</div>
				<div class="map-boxes-yamap" id="mymap3"></div>
			</div>
			<div class="map-boxes__item">
				<div class="map-boxes-text">
					<h3>{{'Смоленск'|_}}</h3>
					<div class="main-map-box__item">
						<i class="fa fa-phone"></i><span>+7 (920) 312-85-86</span>
					</div>
					<div class="main-map-box__item">
						<p>E-mail:</p>
						<i class="fa fa-envelope"></i> <span>akentev@svte.ru</span>
					</div>
					<div class="main-map-box__item">
						<p>{{'Адрес'|_}}:</p>
						<i class="fa fa-map"></i>	{{' г.Смоленск, ул.Индустриальная,д.1/1'|_}}
					</div>
					<div class="main-map-box__item">
						<p>{{'Время работы'|_}}:</p>
						<i class="fas fa-business-time"></i>	{{'9:00 - 18:00'|_}} <br>
					</div>
				</div>
				<div class="map-boxes-yamap" id="mymap4"></div>
			</div>
		</div>
		{% component 'contactform' %}
	</div>
</section>
<script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa242dff85f1806eae1bce49dc421152a164e55b4dcb5647e2137dda2c5903e14&amp;lang=ru_RU&amp;scroll=true&amp;id=mymap"></script>
<script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A820b3db09d998d20b135526a8ff19115c67c5f5fec2ddcf93bb439aff3b961b1&amp;lang=ru_RU&amp;scroll=true&amp;id=mymap2"></script>
<script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A705090922454ac8d780e6060aadc4037de871aea9a25e70e41ba7cba416caf22&amp;lang=ru_RU&amp;scroll=true&amp;id=mymap3"></script>
<script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adbc282c6bd796ee80a6ab38391d4553b74c26b868a8976b53e60162869db814a&amp;scroll=true&amp;id=mymap4"></script>
