title = "Документы"
url = "/dokumenty"
layout = "default"
meta_title = "Документы"
meta_description = "Документы"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Документы"
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[en] = "/dokumenty"
==

<?php

function onStart(){
    $this['documents'] = snapix\svte\models\Documents::all();
}

?>
==

{% partial 'header' title='Документы' %}
<section>
    <div class="container flex-column">
        <h4>{{'Документы для скачивания'|_}}</h4>
        {% for item in documents %}
        <a href="{{ item.file.path }}" download="{{ item.name }}" class="download">{{ item.name }}</a>
        {% endfor %}
    </div>
</section>