title = "Галерея"
url = "/galereya"
layout = "default"
meta_title = "Галерея"
meta_description = "Галерея"
is_hidden = 0
child_of = "about"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[en] = "/galereya"
==

<?php
function onStart(){
    $this['gallery'] = snapix\svte\models\Gallery::all();
}
?>
==

{% partial 'header' title='Галерея' bgclass="gallery-bg"%}

<section class="gallery">
    <div class="container">
        <div class="benefits-headline">
            <h4 class="bounceInLeft">{{'Галерея'|_}}</h4>
        </div>
        <div class="gallery-block">
            {% for item in gallery %}
            <div class="gallery-block__item">
                <img src="{{ item.image.path }}" alt="">
                <div class="gallery-slide"> <a data-fancybox="gallery" href="{{ item.image.path }}">+</a></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>