title = "География отправок"
url = "/geografiya-otpravok"
layout = "default"
meta_title = "География отправок"
meta_description = "География отправок"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "География отправок"
remove_crumb_trail = 0
crumb_disabled = 0
==

{% partial 'header' title='География отправок' %}
<section class="geography">
    <div id="geography-map">
    </div>
</section>
<script src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3b3279d60f18a8f3ff3d8fc1b965fb99171137652772ed176b0274c7f3a5f476&amp;lang=ru_RU&amp;scroll=true&amp;id=geography-map"></script>
