title = "Главная страница"
url = "/"
layout = "default"
meta_title = "Главная"
meta_description = "Компания СВТЕ"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
crumb_title = "Главная"
remove_crumb_trail = 0
crumb_disabled = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[genericForm callbackform]
group = "Обратный звонок"
messages_success = "Ваше сообщение отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[genericForm mainform]
group = "Форма с главной страницы"
messages_success = "Ваша заявка успешно принята"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!--header-->
<section class="header">
	<div id="intro" data-vide-bg="{{ 'assets/video/mix' | theme }}">
	</div>
	<div class="overlay">
		<div class="container svh">
			<div class="header-up">
				{% partial 'top-header-items' %}
			</div>
			<div class="header-nav">
				<div class="logo">
					<a href="{{'home'|page}}"><img class="logo-rus"  src="{{'assets/images/logo.png'|theme | resize({quality: '95' })}}" alt="logo"></a>
					<a href="{{'home'|page}}"><img class="logo-eng logo-hover" src="{{'assets/images/logo-en.png'|theme | resize({quality: '95' })}}" alt="logo"></a>
				</div>
				<ul class="nav__ul">
					{% partial 'nav' %}
				</ul>
				<!--mobile menu-->
				<div class="mobile">
					<a href="#mobile-nav" class="mobile-menu-button">
						<span></span>
					</a>
					<div class="mobile-line">
						{% partial 'mobile-nav' %}
					</div>
				</div>
				<!--<div class="search-bascket header-hover">
					<i class="fa fa-search"></i>
				</div>-->
				<div class="nav-button form-click">
					<a href="#"><i class="fa fa-envelope"></i><span>{{'Обратная связь'|_}}</span></a>
				</div>
				<!-------call form----->

			</div>
			<div class="header-form">
				<div class="header-headline text-center-md">
					<h1 class="text-center pb-none boldest text-uppercase">{{'Скорость'|_}}<br>{{'Надежность'|_}}<br>{{'Профессионализм'|_}} </h1>
					
				</div>	
				{% component 'mainform' %}
			</div>
			<div class="header-square">
				<div class="header-square__block">
					<div class="block__cnt">
						<img src="{{'assets/images/icon3.png'|theme | resize({quality: '95' })}}" alt="">
						<h5>{{'Автомобильные перевозки'|_}}</h5>
					</div>
					<p>{{'Доставим ваш груз в самый короткий срок по оптимальным ценам.'|_}}</p>
				</div>
				<div class="header-square__block">
					<div class="block__cnt">
						<img src="{{'assets/images/icon2.png'|theme | resize({quality: '95' })}}" alt="">
						<h5>{{'Железнодорожные  перевозки'|_}}</h5>
					</div>
					<p>{{'Комплексный подход в организации и обслуживании железнодорожных перевозок.'|_}}</p>
				</div>
				<div class="header-square__block">
					<div class="block__cnt">
						<img src="{{'assets/images/icon1.png'|theme | resize({quality: '95' })}}" alt="">
						<h5>{{'Авиаперевозки'|_}} <br>{{'грузов'|_}} </h5>
					</div>
					<p>{{'Предлагаем широкий спектр услуг по организации авиаперевозок Ваших грузов.'|_}}</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="whoweare">
	<div class="container">
		<div class="whoweare__content">
			<div class="who whoweare__left">
				<div class="whoweare__left-top">
					<div class="left-top__headline">
						<i class="fa fa-globe"></i>
						<h3>{{'О нас'|_}}</h3>
					</div>
					<p>{{'Более  восемнадцати лет   компания «СВ-ТРАНСЭКСПО» оказывает полный комплекс услуг по таможенному оформлению, транспортной и складской логистике, сопровождению ВЭД.'|_}} {{'Большой опыт, экспертные знания и высокий профессионализм сотрудников, наличие собственного современного автопарка сделали компанию одним из лидеров рынка 3PL услуг.'|_}}{{' Высокое качество предоставляемых услуг позволили заслужить доверие огромного числа клиентов, многие из которых компании с мировым именем.'|_}}</p>
					<button class="whoweare__button"  onclick="window.location='{{'about'|page}}'">{{'Узнать больше'|_}}</button>
				</div>
			</div>
			<div class="who whoweare__right">
				<div class="right-top owl-carousel">
					<div class="flex-row">
						<div class="right-box right-box-img">
							<img src="{{'assets/images/air-freight.jpg'|theme | resize({quality: '95' })}}" alt="img">
						</div>
						<div class="right-box">
							<div class="right-box__headline">
								<i class="fa fa-plane"></i>
								<h5>{{'Авиаперевозки'|_}}</h5>
							</div>
							<p class="h6 font-weight-normal">{{'По скорости авиаперевозки во многом превосходят другие способы грузоперевозок.'|_}}</p>
						</div>
					</div>
					<div class="flex-row">
						<div class="right-box right-box-img">
							<img src="{{'assets/images/truck-one.jpg'|theme | resize({quality: '95' })}}" alt="img">
						</div>
						<div class="right-box">
							<div class="right-box__headline">
								<i class="fa fa-truck"></i>
								<h5>{{'Автоперевозки'|_}}</h5>
							</div>
							<p class="h6 font-weight-normal">{{'Наша компания готова предоставить любые модификации автомобильного подвижного состава'|_}}</p>
						</div>
					</div>
					<div class="flex-row">
						<div class="right-box right-box-img">
							<img src="{{'assets/images/zheleznodorojnie-perevozki.jpg'|theme | resize({quality: '95' })}}" alt="img">
						</div>
						<div class="right-box">
							<div class="right-box__headline">
								<i class="fa fa-train" aria-hidden="true"></i>
								<h5>{{'Железнодорожные перевозки'|_}}</h5>
							</div>
							<p class="h6 font-weight-normal">{{'Мы используем комплексный подход в организации и обслуживании железнодорожных перевозок.'|_}}</p>
						</div>
					</div>
				</div>
				<div class="right-bottom owl-carousel">
					<div class="flex-row">
						<div class="right-box">
							<div class="right-box__headline">
								<i class="fa fa-ship" aria-hidden="true"></i>
								<h5>{{'Морские / речные перевозки'|_}}</h5>
							</div>
							<p class="h6 font-weight-normal">{{'Наша компания имеет многолетний опыт морских и речных перевозок.'|_}} </p>
						</div>
						<div class="right-box right-box-img">
							<img src="{{'assets/images/sudno.jpg'|theme | resize({quality: '95' })}}" alt="img">
						</div>
					</div>
					<div class="flex-row">
						<div class="right-box">
							<div class="right-box__headline">
								<i class="fa fa-th"></i>
								<h5>{{'Контейнерные перевозки'|_}}</h5>
							</div>
							<p class="h6 font-weight-normal">{{'В ходе транспортировки легко происходит перегрузка контейнера на другой вид транспорта'|_}}</p>
						</div>
						<div class="right-box right-box-img">
							<img src="{{'assets/images/container.jpg'|theme | resize({quality: '95' })}}" alt="img">
						</div>
					</div>
					<div class="flex-row">
						<div class="right-box">
							<div class="right-box__headline">
								<i class="fa fa-truck"></i>
								<h5>{{'Проектные перевозки'|_}}</h5>
							</div>
							<p class="h6 font-weight-normal">{{'Проектные перевозки является одним из сложных и многоэтапных способов доставки грузов'|_}}</p>
						</div>
						<div class="right-box right-box-img">
							<img src="{{'assets/images/project.jpg'|theme | resize({quality: '95' })}}" alt="img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="services">
	<div class="container">
		<div class="section-content">
			<div class="section-headline">
				<i class="fa fa-truck"></i>
				<h2 class="headline-line"><span>{{'Наши услуги'|_}}</span></h2>
				<p>{{'Независимо от направления бизнеса клиента, размера груза или места его доставки компания <strong>«СВ-ТРАНСЭКСПО»</strong> оказывает весь комплекс услуг.'|_}}</p>
			</div>
			<div  class="services-blocks slick-class">
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-truck.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Автомобильные перевозки'|_}}</h4>
						<p>{{'Доставим ваш груз в самый короткий срок по оптимальным ценам.'|_}}</p>
						<a href="{{'avtomobilnye-perevozki'|page}}">{{'Подробнее'|_}}</a>
					</div>
				</div>
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-railway.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Железнодорожные перевозки'|_}}</h4>
						<p>{{'Комплексный подход в организации и обслуживании железнодорожных перевозок.'|_}} </p>
						<a href="{{'zheleznodorozhnye-perevozki'|page}}">{{'Подробнее'|_}}</a>
					</div>
				</div>
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-air.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Авиаперевозки'|_}}</h4>
						<p><br>{{'Предлагаем широкий спектр услуг по организации авиаперевозок Ваших грузов.'|_}} </p>
						<a href="{{'aviaperevozki'|page}}">{{'Подробнее'|_}}</a>
					</div>
				</div>
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-customs.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Таможенное оформление'|_}}</h4>
						<p>{{'Все необходимые услуги, связанные с таможенным оформлением перевозимых грузов.'|_}} </p>
						<a href="#">{{'Подробнее'|_}}</a>
					</div>
				</div>
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-other.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Дополнительные услуги'|_}}</h4>
						<p>{{'Аутсорсинг ВЭД'|_}} <br> {{'Сюрвейерские услуги'|_}} <br> {{'Складская логистика'|_}}</p> 
						<a href="{{'autsorsing-ved'|page}}">{{'Подробнее'|_}}</a>
					</div>
				</div>
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-project.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Проектные перевозки'|_}}</h4>
						<p><br>{{'Проектные перевозки является одним из сложных и многоэтапных способов доставки грузов.'|_}}  </p> 
						<a href="{{'proektnye-perevozki'|page}}">{{'Подробнее'|_}}</a>
					</div>
				</div>
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-container.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Контейнерные перевозки'|_}}</h4>
						<p>{{'Контейнерные перевозки — наиболее востребованный способ транспортировки груза.'|_}}  </p> 
						<a href="{{'kontejnernye-perevozki'|page}}">{{'Подробнее'|_}}</a>
					</div>
				</div>
				<div class="services-blocks__item">
					<img src="{{'assets/images/services-sea.jpg'|theme | resize({quality: '95' })}}" alt="avtoperevozki">
					<div class="services-blocks__item-overflow">
						<h4>{{'Морские/Речные перевозки'|_}}</h4>
						<p>{{'Наша компания предлагает широкий ассортимент морских и речных грузоперевозок.'|_}}  </p> 
						<a href="{{'morskie-rechnye-perevozki'|page}}">{{'Подробнее'|_}}</a>
					</div>
				</div>
			</div>
			<div class="services-button">
			</div>
		</div>
	</div>
</section>

<section class="news">
	<div class="container">
		<div class="section-content blog-news">
			<div class="section-headline">
				<i class="fa fa-newspaper"></i>
				<h2 class="headline-line"><span>{{'Последние новости'|_}}</span></h2>
				<p>{{'Cамые значимые события в сфере логистики'|_}} </p>
			</div>
			{% component 'blogPosts' %}
			<div class="button-news">
				<a href="{{'press-centr'|page}}">{{'Все новости'|_}}</a>
			</div>
		</div>
	</div>
</section>
{% component 'callbackform' %}