title = "Контейнерные перевозки"
url = "/kontejnernye-perevozki"
layout = "default"
meta_title = "Контейнерные перевозки"
meta_description = "Контейнерные перевозки"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Контейнерные перевозки"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm containerform]
group = "Форма контейнерные перевозки"
messages_success = "Ваше сообщение успешно отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Контейнерные перевозки' bgclass="conteiner" %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Контейнерные перевозки — наиболее востребованный способ транспортировки груза. Любой вид транспорта подходит для осуществления контейнерной грузоперевозки.'|_}} {{'В ходе транспортировки легко происходит перегрузка контейнера на другой вид транспорта. Выбирая контейнерные перевозки с «СВ-ТРАНСЭКСПО», Вы получаете все необходимые услуги:'|_}}</p>
				<div class="services-box">
					<div class="services-box__item">
						<img src="{{'assets/images/container/stock.svg'|theme}}" alt="">
						<p>{{'Погрузо-разгрузочные работы (на складе грузоотправителя, а также в пункте назначения)'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/container/warehouse.svg'|theme}}" alt="">
						<p>{{'Складское хранение грузов'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/container/boxes.svg'|theme}}" alt="">
						<p>{{'Консолидация груза на складе'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/container/crane.svg'|theme}}" alt="">
						<p>{{'Такелажные работы'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/container/placeholder.svg'|theme}}" alt="">
						<p>{{'Экспедирование груза'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/container/box.svg'|theme}}" alt="">
						<p>{{'Транспортная упаковка груза'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/container/checking.svg'|theme}}" alt="">
						<p>{{'Страхование, мониторинг следования груза'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/container/container.svg'|theme}}" alt="">
						<p>{{'Организация перевозок с использованием стандартных контейнеров 20’, 40’, 45’'|_}}</p>
					</div>
					<!---<div class="services-box__item">
						<img src="{{'assets/images/container/nestrucking.svg'|theme}}" alt="">
						<p>{{'Организация перевозок с использованием нестандартного оборудования 20’OT, 40’OT, 20’FR, 40’FR, 40’IMO, 40’REF.'|_}}</p>
					</div>-->
				</div>
				{% component 'containerform' %}
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>