title = "Морские / речные перевозки"
url = "/morskie-rechnye-perevozki"
layout = "default"
meta_title = "Морские / речные перевозки"
meta_description = "Морские / речные перевозки"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Морские / речные перевозки"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm seaform]
group = "Форма морских/речных перевозок"
messages_success = "Ваше сообщение успешно отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Морские / Речные перевозки' bgclass="sea" %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Наша компания имеет многолетний опыт морских и речных перевозок. При сложной транспортировке негабаритного груза возможно фрахтование судна целиком.'|_}}</p>
				<p>{{'Наши специалисты предлагают широкий ассортимент услуг по организации морских/речных грузоперевозок:'|_}}</p>
				<div class="services-box">
					<div class="services-box__item">
						<img src="{{'assets/images/sea/edit.svg'|theme}}" alt="">
						<p>{{'подготовка комплекса транспортных документов'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/sea/cruise.svg'|theme}}" alt="">
						<p>{{'фрахтование судов для перевозки генеральных грузов'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/sea/archive.svg'|theme}}" alt="">
						<p>{{'таможенное оформление'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/sea/telescope.svg'|theme}}" alt="">
						<p>{{'постоянный мониторинг следования груза'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/sea/hook.svg'|theme}}" alt="">
						<p>{{'внутрипортовое экспедирование, страхование грузов'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/sea/survey.svg'|theme}}" alt="">
						<p>{{'сюрвейерское обслуживание'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/sea/cargo-ship.svg'|theme}}" alt="">
						<p>{{'грузоперевозка «река-море» и другие услуги'|_}}</p>
					</div>
				</div>
			{% component 'seaform' %}
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>