title = "Наши проекты"
url = "/nashi-proekty"
layout = "default"
meta_title = "Наши проекты"
meta_description = "Наши проекты"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Наши проекты"
remove_crumb_trail = 0
crumb_disabled = 0
==
<?php
function onStart(){
    $this['cases'] = snapix\svte\models\CompanyCase::all();
}
?>
==
{% partial 'header' title='Наши проекты' %}

<div class="container">
    <div class="row">
        <div class="project-block">
            {% for item in cases %}
            <div class="project-cart">
                <img class="img-fluid img-thumbnail"
                     src="{{ item.images[0].path }}" alt="">

                    <div class="project-cart-overlay">
                        <div class="project-title">
                            <h4 class="light">{{ item.client |_ }}</h4>
                            <div class="project-title-button">
                                <a href="{{ 'case'|page({ 'slug' : item.slug }) }}"
                                   class="btn btn-primary btn-project">{{'Подробнее'|_}}</a>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>