title = "Наши преимуществаfgd"
url = "/nashi-preimushchestva"
layout = "default"
meta_title = "Наши преимущества"
meta_description = "Наши преимущества"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Наши преимущества"
remove_crumb_trail = 0
crumb_disabled = 0
==

{% partial 'header' title='Наши преимущества' %}
<section class="our-prem">
    <div class="container">
        <div class="benefits-headline">
            <h4 class="bounceInLeft">Преимущества работы с нами</h4>
        </div>


        <div class="benefits-container">
            <div class="benefits-block fisrt-benefits ">
                <div class="benefits-block-img">
                    <img src="{{'assets/images/benefitsone.jpg'|theme | resize({quality: '95' })}}" alt="">
                </div>
                <div class="benefits-block-text right-align">
                    <h2>{{'Конкурентные сроки'|_}}</h2>
                    <i></i>
                    <p>{{'Конкурентные сроки выполнения задач. Наш 18-летний опыт позволяет выполнять самые сложные
                        задачи в кратчайшее время'|_}}.</p>
                </div>
            </div>
            <div class="benefits-block second-benefits ">
                <div class="benefits-block-img">
                    <img class="benefits-rus"
                         src="{{'assets/images/benefitstwo.jpg'|theme  | resize({quality: '95' })}}" alt="">
                    <img class="benefits-eng benefits-hover"
                         src="{{'assets/images/benefitstwo.jpg'|theme  | resize({quality: '95' })}}" alt="">
                </div>
                <div class="benefits-block-text left-align">
                    <h2>{{'Экономия средств клиента'|_}}</h2>
                    <i></i>
                    <p>{{'При выведении всех логистических процессов на аутсорсинг 3PL–оператору, наши клиенты
                        существенно экономят собственные средства'|_}}. </p>
                </div>
            </div>
            <div class="benefits-block third-benefits ">
               <div class="benefits-block-img">
                   <img src="{{'assets/images/benefitsthree.jpg'|theme  | resize({quality: '95' })}}" alt="">
               </div>
                <div class="benefits-block-text right-align">
                    <h2>{{'Высококачественный сервис'|_}}</h2>
                    <i></i>
                    <p>{{'Предоставляя клиенту набор услуг, мы смотрим на реализацию задач его глазами. Это позволяет
                        нам достигать ожидаемых клиентом результатов'|_}}. </p>
                </div>
            </div>
            <div class="benefits-block four-benefits ">
               <div class="benefits-block-img">
                   <img src="{{'assets/images/benefitsfour.jpg'|theme  | resize({quality: '95' })}}" alt="">
               </div>
                <div class="benefits-block-text left-align">
                    <h2>{{'Выполнение самых сложных задач'|_}}</h2>
                    <i></i>
                    <p>{{'Мы берем на себя ответственность за реализацию самых сложных логистических задач'|_}}. {{'Для
                        нас не существует безвыходных ситуаций'|_}}. {{'Мы всегда найдем решение, благодаря нашему опыту
                        и высококвалифицированной команде специалистов'|_}}. </p>
                </div>
            </div>
            <div class="benefits-block fifth-benefits ">
              <div class="benefits-block-img">
                  <img src="{{'assets/images/benefitsfive.jpg'|theme  | resize({quality: '95' })}}" alt="">
              </div>
                <div class="benefits-block-text right-align">
                    <h2>{{'Индивидуальный подход'|_}}</h2>
                    <i></i>
                    <p>{{'Мы стараемся понимать технологии и разбираться в специфике работы наших клиентов'|_}}. {{'Мы
                        предлагаем индивидуальные решения для каждого конкретного клиента из различных
                        отраслей'|_}}. </p>
                </div>
            </div>
            <div class="benefits-block six-benefits ">
               <div class="benefits-block-img">
                   <img src="{{'assets/images/benefitssix.jpg'|theme  | resize({quality: '95' })}}" alt="">
               </div>
                <div class="benefits-block-text left-align">
                    <h2>{{'Работа в соответствии с законодательством РФ'|_}}</h2>
                    <i></i>
                    <p>{{'Обязательное соблюдение всех требований по бухгалтерской и финансовой отчетности,
                        предусмотренной действующим законодательством'|_}}. {{'Четкий и регулярный мониторинг изменений
                        и нововведений в этой области'|_}}. {{'Финансово стабильны на протяжении более 18 лет'|_}}.
                        {{'Банки-партнеры занимают лидирующие позиции в ТОП 10 банков России'|_}}. </p>
                </div>
            </div>
        </div>
    </div>
</section>