title = "Отзывы клиентов"
url = "/otzyvy-klientov"
layout = "default"
meta_title = "Отзывы клиентов"
meta_description = "Отзывы клиентов"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Отзывы клиентов"
remove_crumb_trail = 0
crumb_disabled = 0
==
<?php
function onStart(){
    $this['reviews'] = snapix\svte\models\Review::all();
}
?>
==
{% partial 'header' title='Отзывы клиентов' %}
<section class="otzyv">
    <div class="container">
        <div class="otzyv-content">

            {% for item in reviews %}
            <div class="otzyv-item">
                <div class="otzyv-item-img">
                    <a data-fancybox="gallery" href="{{ item.image.path }}">
                        <img src="{{ item.image.path }}" alt="">
                    </a>
                </div>
                <div class="otzyv-item-text">
                    <p><a data-fancybox="gallery" href="{{ item.image.path }}">{{ item.client }}</a>
                    </p>
                    <p class="otzyv-date"> <i class="fa fa-table"></i>{{ item.date }}</p>
                    <p>{{ item.content|raw}}</p>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>