title = "Наша команда"
url = "/our-team"
layout = "default"
meta_title = "Наша команда"
meta_description = "Наша команда"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Наша команда"
remove_crumb_trail = 0
crumb_disabled = 0
==

<?php
function onStart(){
    $this['team'] = snapix\svte\models\Team::all();
}
?>
==

{% partial 'header' title='Наша команда' bgclass="team" %}
<section class="our-team">
    <div class="container">
        <div class="main-team">
            <div class="main-team-text">
                <h2>{{'Ершов Владимир Ревазович'|_}}</h2>
                <h3>{{'генеральный директор'|_}}</h3>
                <blockquote>&#10077; {{'Став нашим партнером, вы получите достойного бизнес-союзника для взаимовыгодного
                    и долгосрочного сотрудничества'|_}} &#10078;
                </blockquote>
            </div>
            <div class="main-team-image">
                <img src="{{'assets/images/gendir.jpg'|theme}}" alt="">
            </div>
        </div>
    </div>
</section>
<section class="our-team other-team">
    <div class="container">
        <div class="our-team-content">
            {% for item in team %}
            <div class="team-block">
                <div class="our-team-content__item">
                    <img src="{{ item.image.path }}" alt="">
                </div>
                <div class="our-team-name">
                    <div class="our-team-name-text">
                        <h3>{{ item.name|_ }}</h3>
                        <h4>{{ item.position|_ }}</h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>