title = "Письмо директору"
url = "/pismo-direktoru"
layout = "default"
meta_title = "Письмо директору"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Письмо директору"
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[en] = "/pismo-direktoru"

[genericForm letterform]
group = "Письмо директору"
messages_success = "Ваша заявка принята"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
{% partial 'header' title='Письмо директору' %}
<section class="letter">
    <div class="container">
        <h2>{{'Вы можете оставить свои отзывы и предложения о нашей работе'|_}}</h2>
        {% component 'letterform' %}
    </div>
</section>