title = "Пресс-центр"
url = "/press-centr/:page?"
layout = "default"
meta_title = "Пресс-центр"
meta_description = "Пресс-центр"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Пресс-центр"
remove_crumb_trail = 0
crumb_disabled = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==

{% partial 'header' title='Пресс-центр' %}
<section class="press">
	<div class="container">
		<div class="press-content">
            <!-- Blog Post #1 -->
            {% component 'blogPosts' %}
            <!-- Blog Post #2 -->
            <!-- Pagination -->
		</div>
	</div>
</section>