title = "Проектные перевозки"
url = "/proektnye-perevozki"
layout = "default"
meta_title = "Проектные перевозки"
meta_description = "Проектные перевозки"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Проектные перевозки"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm projectform]
group = "Форма проектные перевозки"
messages_success = "Ваше сообщение успешно отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Проектные перевозки' bgclass="project" %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Проектные перевозки является одним из сложных и многоэтапных способов доставки грузов. Они предполагают тщательную подготовку и четкую слаженность действий всех участников данного процесса.'|_}}</p>
				<p>{{'Проектные перевозки  представляют собой целый спектр взаимоувязанных по времени,'|_}} {{'очередности и исполнителям действий, включающий в себя привлечение большого количества специалистов и технических средств различного назначения.'|_}}</p>
				<p>{{'«СВ-ТРАНСЭКСПО» осуществляет регулярные контейнерные экспортно-импортные отправки из Азии, Ближнего Востока, Южной и Северной Америки, Австралии и Европы в Россию, страны СНГ,'|_}} {{'а также в государства Западной Европы с обеспечением сервиса контрагентов и доставки груза до склада Клиента.'|_}}</p>
				<p>{{'Доверие наших Клиентов и профессионализм нашей Команды – основа успешной деятельности «СВ-ТРАНСЭКСПО».'|_}}</p>
				<p>{{'Компания «СВ-ТРАНСЭКСПО» обеспечивает индивидуальный подход к каждому Клиенту, к решению каждой поставленной задачи,'|_}} {{'независимо от того, предоставление ли это стандартного комплекса транспортно-логистических услуг или сложный проект,'|_}} {{'требующий особенного (нестандартного), творческого подхода. Используя накопленный опыт и специальные знания,'|_}} {{'компания «СВ-ТРАНСЭКСПО» подберет оптимальный и наиболее эффективный способ доставки Вашего груза по всему миру.'|_}}</p>
				{% component 'projectform' %}
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>