title = "Сертификаты, лицензии и дипломы"
url = "/sertifikaty-licenzii-i-diplomy"
layout = "default"
meta_title = "Сертификаты, лицензии и дипломы"
meta_description = "Сертификаты, лицензии и дипломы"
is_hidden = 0
child_of = "about"
hide_crumb = 0
crumb_title = "Сертификаты, лицензии и дипломы"
remove_crumb_trail = 0
crumb_disabled = 0
==
<?php

function onStart(){
    $this['sertificates'] = snapix\svte\models\Sertificate::all();
}

?>
==


{% partial 'header' title='Сертификаты, лицензии и дипломы' bgclass="sertification-bg" %}

<section class="sertification">
	<div class="container">
		<div class="sertification-content">
			{% for item in sertificates %}
			<div class="sertification-content__item">
				<div class="sertification-content__item-img">

                    <a data-fancybox="gallery" href="{{ item.image.path }}">
                        <img src="{{ item.image.path }}" alt="{{ item.name }}">
                    </a>

				</div>
				<div class="sertification-headline">
					<h3 class="light">{{ item.name|_ }}</h3>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>