title = "Услуги"
url = "/uslugi"
layout = "default"
meta_title = "Услуги"
meta_description = "Услуги"
is_hidden = 0
child_of = "home"
hide_crumb = 0
crumb_title = "Услуги"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm servicesform]
group = "Форма услуги"
messages_success = "Ваше сообщение успешно отправленно"
messages_errors = "Ошибка при отправке сообщения"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Услуги'  %}
<section class="services-content">
    <div class="container">
        <div class="services-content-blocks">
            <div class="services-content-blocks-left">
                <div class="services-headline">
                    <h4 class="bounceInLeft">{{'Компания «СВ-ТРАНСЭКСПО» оказывает следующие услуги:'|_}}</h4>
                </div>
                <div class="services-tile">
                    <a href="{{'transportnaya-logistika'|page}}" class="services-tile-button">
                        <div class="services-tile__item">
                            <img src="{{'assets/images/servicesone.jpg'|theme}}" alt="">
                            <div class="services-tile__item-hover">
                                <h2>{{'Транспортная логистика'|_}}</h2>
                            </div>
                        </div>
                    </a>
                    <a href="{{'tamozhennoe-oformlenie'|page}}" class="services-tile-button">
                        <div class="services-tile__item">
                            <img src="{{'assets/images/servicestwo.jpg'|theme}}" alt="">
                            <div class="services-tile__item-hover">
                                <h2>{{'Таможенное оформление'|_}}</h2>
                            </div>
                        </div>
                    </a>
                    <a href="{{'autsorsing-ved'|page}}" class="services-tile-button">
                        <div class="services-tile__item">
                            <img src="{{'assets/images/servicesthree.jpg'|theme}}" alt="">
                            <div class="services-tile__item-hover">
                                <h2>{{'Аутсорсинг ВЭД'|_}}</h2>
                            </div>
                        </div>
                    </a>
                    <a href="{{'transportnaya-logistika'|page}}" class="services-tile-button">
                        <div class="services-tile__item">
                            <img src="{{'assets/images/servicesfour.jpg'|theme}}" alt="">
                            <div class="services-tile__item-hover">
                                <h2>{{'Дополнительные услуги'|_}}</h2>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="services-personal-form form-services-main">
                    <div class="personal-form-headline">
                        <h2>{{'Заказать перевозку'|_}}</h2>
                        <p>{{'Наши менеджеры свяжутся с вами в течение 15 минут и проконсультируют по всем
                            вопросам'|_}}</p>
                    </div>
                    {% component 'servicesform' %}
                </div>
            </div>
            <div class="services-content-blocks-right">
                <div class="vertical-menu">
                    <ul>
                        {% partial 'vertical-nav'%}
                    </ul>
                </div>
                <div class="services-content-contact">
                    {% partial 'Services-contacts'%}
                </div>
            </div>
        </div>
    </div>
</section>
<div id="services-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Запрос</h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
            </div>
            <!-- Футер модального окна -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>