title = "Таможенное оформление"
url = "/tamozhennoe-oformlenie"
layout = "default"
meta_title = "Таможенное оформление"
meta_description = "Таможенное оформление"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Таможенное оформление"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm tamozhnyaform]
group = "Форма таможенное оформление"
messages_success = "Ваше сообщение отправлено"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Таможенное оформление' bgclass="custom" %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Компания «СВ-ТРАНСЭКСПО» предоставляет своим Клиентам все необходимые услуги, связанные с таможенным оформлением перевозимых грузов:'|_}}</p>
				<div class="services-box">
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/box.svg'|theme}}" alt="">
						<p>{{'Таможенное оформление импортируемых и экспортируемых грузов в соответствии с различными таможенными процедурами'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/classification.svg'|theme}}" alt="">
						<p>{{'Классификация товаров в соответствии с товарной номенклатурой внешней экономической деятельностью'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/calculator.svg'|theme}}" alt="">
						<p>{{'Расчет оптимальных вариантов доставки и таможенного оформления товаров'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/document.svg'|theme}}" alt="">
						<p>{{'Получение необходимой разрешительной документации, для ввоза/вывоза и таможенного оформления на таможенной территории ЕАЭС'|_}} <!--{{'(сертификаты, свидетельства, лицензии, разрешение на ввоз/вывоз и многое другое);'|_}}--></p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/file.svg'|theme}}" alt="">
						<p>{{' Подготовка заявлений и документации для обращения в таможенные органы с целью получения решений о классификации товаров.'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/tick.svg'|theme}}" alt="">
						<p>{{'Подготовка пакетов документов: для возврата денежных средств по таможенной расписке,'|_}} {{'для подтверждения таможенной стоимости товаров в течение срока дополнительной проверки по стоимости, а также возврат излишне уплаченных таможенных платежей и пр.'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/diagram.svg'|theme}}" alt="">
						<p>{{'Организация таможенного оформления сложного технологического оборудования, поставляемого в разобранном виде в рамках одной товарной партии'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/warehousecustom.svg'|theme}}" alt="">
						<p>{{'Оформление многокомпонентных производственных линий, цехов и целых заводов по  под единым кодом ЕТН ВЭД ЕАЭС'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/calculatorcustom.svg'|theme}}" alt="">
						<p>{{'Расчет таможенных пошлин и налогов'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/consulting.svg'|theme}}" alt="">
						<p>{{'Проведение аудита внешнеторгового контрактов, товарно - сопроводительных документов и других документов, представляемых в таможенные органы'|_}}</p>
					</div>
					<div class="services-box__item custom-tr">
						<img src="{{'assets/images/custom/filecustom.svg'|theme}}" alt="">
						<p>{{'Юридическая поддержка в возникающих спорных вопросах с таможенными органами в том числе отстаивание интересов клиентов в судебном порядке'|_}}</p>
					</div>
				</div>
				{% component 'tamozhnyaform' %}
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>