title = "Транспортная логистика"
url = "/transportnaya-logistika"
layout = "default"
meta_title = "Транспортная логистика"
meta_description = "Транспортная логистика"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Транспортная логистика"
remove_crumb_trail = 0
crumb_disabled = 0
==

{% partial 'header' title='Транспортная логистика' bgclass="logistic" %}
<section class="services-content">
    <div class="container">
        <div class="services-content-blocks">
            <div class="services-content-blocks-left">
                <p>{{'«СВ-ТРАНСЭКСПО» предоставляет весь спектр транспортно логистических услуг. В зависимости от
                    пожеланий своих Клиентов Компания предлагает следующие варианты перевозок грузов:'|_}}</p>
                <div class="services-box">
                    <div class="services-box__item">
                        <a href="{{'avtomobilnye-perevozki'|page}}">
                            <img src="{{'assets/images/logistic/van.svg'|theme}}"
                                 alt=""> </a>
                        <p>{{'Автомобильные грузоперевозки'|_}}</p>
                    </div>
                    <div class="services-box__item">
                        <a href="{{'aviaperevozki'|page}}">
                            <img src="{{'assets/images/logistic/aircraft.svg'|theme}}" alt="">
                        </a>
                        <p>{{'Авиаперевозки'|_}}</p>
                    </div>
                    <div class="services-box__item">
                        <a href="{{'zheleznodorozhnye-perevozki'|page}}">
                            <img
                                    src="{{'assets/images/logistic/trainlog.svg'|theme}}" alt=""> </a>
                        <p>{{'Железнодорожные перевозки'|_}}</p>
                    </div>
                    <div class="services-box__item">
                        <a href="{{'morskie-rechnye-perevozki'|page}}">
                            <img
                                    src="{{'assets/images/logistic/cargo-ship.svg'|theme}}" alt=""> </a>
                        <p>{{'Морские и речные перевозки'|_}}</p>
                    </div>
                    <div class="services-box__item">
                        <a href="{{'kontejnernye-perevozki'|page}}">
                            <img src="{{'assets/images/logistic/delivery-truck.svg'|theme}}"
                                 alt=""> </a>
                        <p>{{'Контейнерные перевозки'|_}}</p>
                    </div>
                    <div class="services-box__item">
                        <img src="{{'assets/images/logistic/placeholder.svg'|theme}}" alt="">
                        <p>{{'Интермодальные перевозки'|_}}</p>
                    </div>
                    <div class="services-box__item">
                        <a href="{{'proektnye-perevozki'|page}}"> <img
                                src="{{'assets/images/logistic/nestrucking.svg'|theme}}" alt=""> </a>
                        <p>{{'Перевозка проектных грузов'|_}}</p>
                    </div>
                </div>
                <br>
                <ul>
                    <li>{{'МЕЖДУНАРОДНЫЕ ПЕРЕВОЗКИ. Многолетний опыт работы компании на международном рынке,'|_}}
                        {{'крепкие партнерские отношения с отечественными и зарубежными перевозчиками позволяют нам
                        гарантировать перевозку груза в сроки и по минимальным ценам.'|_}}
                    </li>

                    <li>{{'РЕГИОНАЛЬНЫЕ ПЕРЕВОЗКИ. Компания «СВ-ТРАНСЭКСПО» имеет прочные налаженные отношения с
                        российскими компаниями-перевозчиками.'|_}} {{'Мы предоставляем полный спектр логистических услуг
                        по перевозке грузов по территории России.'|_}} {{'Транспорт нашей компании имеет всю необходимую
                        разрешительную документацию, перед каждым рейсом проходит транспортный и технический
                        контроль.'|_}}
                    </li>

                    <li>{{'ГОРОДСКИЕ ПЕРЕВОЗКИ ПО МОСКВЕ И МОСКОВСКОЙ ОБЛАСТИ.'|_}} {{'Компания «СВ-ТРАНСЭКСПО» готова
                        предложить Вам надежный и качественный сервис по внутригородской и областной доставке
                        груза.'|_}} {{'Мы осуществляем перевозку груза по Москве и области «от двери до двери»,'|_}}
                        {{'предоставляем экспедиторские услуги, оформляем товарно-транспортные накладные и другие
                        необходимые документы.'|_}}
                    </li>
                </ul>
            </div>
            <div class="services-content-blocks-right">
                <div class="vertical-menu">
                    <ul>
                        {% partial 'vertical-nav'%}
                    </ul>
                </div>
                <div class="services-content-contact">
                    {% partial 'Services-contacts' %}
                </div>
            </div>
        </div>
    </div>
</section>