title = "Упаковка грузов"
url = "/upakovka-gruzov"
layout = "default"
meta_title = "Упаковка грузов"
meta_description = "Упаковка грузов"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Упаковка грузов"
remove_crumb_trail = 0
crumb_disabled = 0
==

{% partial 'header' title='Упаковка грузов' %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>Упаковка в термоусадочную пленку надежно защищает  перевозимый груз от влияния окружающей среды, осадков, солнечного света и ультрафиолета не только во время транспортировки, но и после того, как груз доставлен. Ведь с момента как груз снимут с платформы или с трейлера в ожидании монтажа или эксплуатации, он может пролежать длительное время под открытым небом. </p>
				<p>Упаковка сразу позволяет заметить попытки несанкционированного доступа и скрывает груз от любопытных взглядов.</p>
				<p><b>Преимущества упаковки в термоусадочную пленку:</b></p>
				<ul>
					<li>упаковка объектов любых размеров и форм;</li>
					<li>герметичность;</li>
					<li>достаточно высокая механическая прочность;</li>
					<li>возможность устройства вентиляции, окон, дверей на молнии;</li>
					<li>контроль проникновения – нарушенную упаковку можно восстановить только с помощью специального оборудования;</li>
					<li>есть огнеупорные пленки (не горят, а только плавятся).</li>
				</ul>
				<div class="services-slider">
					<img src="{{'assets/images/upakovka.jpg'|theme}}" alt="транспортная логистика">
				</div>
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
				<div class="services-contact-form">
					<h4>Форма связи</h4>
					<p>Имя</p>
					<input type="text" placeholder="Имя">
					<p>Email</p>
					<input type="Email" placeholder="Email">
					<p>Сообщение</p>
					<input class=' form-message' type="text" placeholder="">
					<button>Отправить</button>
				</div>
			</div>
		</div>
	</div>
</section>