title = "Железнодорожные перевозки"
url = "/zheleznodorozhnye-perevozki"
layout = "default"
meta_title = "Железнодорожные перевозки"
meta_description = "Железнодорожные перевозки"
is_hidden = 0
child_of = "services"
hide_crumb = 0
crumb_title = "Железнодорожные перевозки"
remove_crumb_trail = 0
crumb_disabled = 0

[genericForm railwayform]
group = "Форма железнодорожных перевозок"
messages_success = "Ваше сообщение успешно отправленно"
messages_errors = "There were errors with your submission"
reset_form = 1
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

{% partial 'header' title='Железнодорожные перевозки' bgclass="rail" %}
<section class="services-content">
	<div class="container">
		<div class="services-content-blocks">
			<div class="services-content-blocks-left">
				<p>{{'Компания «СВ-ТРАНСЭКСПО» предоставляет услуги по транспортировке стандартных и крупногабаритных грузов на средние и дальние расстояния с использованием железнодорожного транспорта.'|_}}</p>
				<p>{{'Наши специалисты используют комплексный подход в организации и обслуживании железнодорожных перевозок. Мы предлагаем своим клиентам следующие виды услуг:'|_}}</p>
				<div class="services-box">
					<div class="services-box__item">
						<img src="{{'assets/images/train/delivery.svg'|theme}}" alt="">
						<p>{{'Разработка оптимальной схемы перевозки груза'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/train/trolley.svg'|theme}}" alt="">
						<p>{{'Организация погрузо-разгрузочных работ'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/train/wagon.svg'|theme}}" alt="">
						<p>{{'Доставка груза с использованием различных типов ж/д подвижного состава: вагонов, полувагонов, платформ, хопров, цистерн, реф-секций'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/train/railway.svg'|theme}}" alt="">
						<p>{{'Ежедневное отслеживание вагонов/контейнеров по пути следования'|_}}</p>
					</div>
					<div class="services-box__item">
						<img src="{{'assets/images/train/checking.svg'|theme}}" alt="">
						<p>{{'Экспедирование, охрана и страхование груза'|_}}</p>
					</div>
				</div>
				{% component 'railwayform' %}
			</div>
			<div class="services-content-blocks-right">
				<div class="vertical-menu">
					<ul>
						{% partial 'vertical-nav'%}
					</ul>
				</div>
				<div class="services-content-contact">
					{% partial 'Services-contacts' %}
				</div>
			</div>
		</div>
	</div>
</section>