[viewBag]
==
<form data-request="{{ __SELF__ }}::onFormSubmit">
    {{ form_token() }}
    <div class="adres-content-right-form letter-form">
        <div class="adres-content-right-form__top">
            <div class="adres-content-right-form__top-left letter-input">
                <input type="text" name="Название компании" required placeholder="{{'Ваша компания'|_}}">
            </div>
            <div class="adres-content-right-form__top-right letter-input">
                <input type="text" name="Номер договора" required placeholder="{{'Номер договора'|_}}">
            </div>
        </div>
        <input type="text" name="Фамилия Имя Отчество" required placeholder="{{'Фамилия Имя Отчество'|_}}">
        <div class="adres-content-right-form__top">
            <div class="adres-content-right-form__top-left letter-input">
                <input type="text" name="Телефон" id="Phone" required placeholder="{{'Ваш телефон'|_}}">
            </div>
            <div class="adres-content-right-form__top-right letter-input">
                <input type="email" name="Email" required placeholder="{{'Ваш email'|_}}">
            </div>
        </div>
        <textarea name="Отзыв" cols="30" rows="5" placeholder="{{'Отзыв'|_}}" required></textarea>
        <button>{{'Отправить сообщение'|_}}</button>
        <div id="{{ __SELF__ }}_forms_flash"></div>
    </div>
</form>