<section class="services">



	<div class="container">



		<div class="section-content">



			<div class="section-headline">



				<i class="fa fa-truck"></i>



				<h2 class="headline-line"><span>{{'Наши сервисы'|_}}</span></h2>



				<p>{{'Независимо от направления бизнеса Клиента, размера груза или места его доставки Компания «СВ-ТРАНСЭКСПО» оказывает весь комплекс услуг.'|_}}</p>



			</div>



			<div class="services-blocks slick-class">



				<div class="services-blocks__item">



					<i class="fa fa-truck"></i>



					<h4>{{'Автомобильные перевозки'|_}}</h4>



					<p>{{'Доставим ваш груз в самый короткий срок по оптимальным ценам.'|_}}</p>



				</div>



				<div class="services-blocks__item">



					<i class="fa fa-train"></i>



					<h4>{{'Железнодорожные перевозки'|_}}</h4>



					<p>{{'Комплексный подход в организации и обслуживании железнодорожных перевозок.'|_}} </p>



				</div>



				<div class="services-blocks__item">



					<i class="fa fa-plane"></i>



					<h4>{{'Авиаперевозки'|_}}</h4>



					<p><br>{{'Предлагаем широкий спектр услуг по организации авиаперевозок Ваших грузов.'|_}} </p>



				</div>



				<div class="services-blocks__item">



					<i class="fa fa-box"></i>



					<h4>{{'Таможенное оформление'|_}}</h4>



					<p>{{'Все необходимые услуги, связанные с таможенным оформлением перевозимых грузов.'|_}} </p>



				</div>



			</div>



			<div class="services-button">



				<button class="services-button__item"><a href="{{'services'|page}}">{{'Узнать больше'|_}}</a></button>



			</div>



		</div>



	</div>



</section>