<div class="main-screen-form">
	<h2>{{'Заказать перевозку'|_}}</h2>
	<form data-request="{{ __SELF__ }}::onFormSubmit">
		{{ form_token() }}
		<div class="main-screen-form__inputs">
			<div id="{{ genericForm }}_forms_flash"></div>
			<div class="form-group main-form-media">
				<input type="text" id="type" name="Тип груза" required class="form-control" placeholder="{{'Тип груза'|_}}">
			</div>
			<div class="form-group main-form-media">
				<input type="text" id="type-cargo" name="Тип перевозки" required class="form-control" placeholder="{{'Тип перевозки'|_}}">
			</div>
			<div class="form-group main-form-media">
				<input type="text" id="adress-one" name="Адрес отправки" required class="form-control" placeholder="{{'Адрес отправки'|_}}">
			</div>
			<div class="form-group main-form-media">
				<input type="text" id="adress-two" name="Адрес доставки" required class="form-control" placeholder="{{'Адрес доставки'|_}}">
			</div>
			<div class="form-group form-numb main-form-media">
				<input type="number" id="weight" name="Вес" required class="form-control" placeholder="{{'Вес'|_}}">
			</div>
			<div class="form-group form-numb main-form-media">
				<input type="number" id="obyem" name="Объем" required class="form-control" placeholder="{{'Объем'|_}}">
			</div>
			<div class="form-group main-form-media">
				<input type="text" id="fio" name="Фамилия Имя Отчество" required class="form-control" placeholder="{{'ФИО'|_}}">
			</div>
			<div class="form-group main-form-media">
				<input type="text" id="Phone2" name="Телефон" class="form-control" required placeholder="{{'Номер телефона'|_}}">
			</div>
			<div class="form-group main-form-media">
				<input type="text" id="email" name="email" class="form-control" required placeholder="Email">
			</div>
		</div>
		<div class="personal-form-button">
			<button id="simpleContactSubmitButton" type="submit" class="btn btn-default">{{'Оставить заявку'|_}}</button>
		</div>
		<div id="{{ __SELF__ }}_forms_flash" class="main-message"></div>
	</form>
</div>