[viewBag]
==
<form data-request="{{ __SELF__ }}::onFormSubmit">
    {{ form_token() }}
    <div class="case-form-block">
        <input type="text" name="Phone" id="Phone" required placeholder="{{'Ваш номер телефона'|_}}">
    </div>
    <button class="case-phone">{{'Заказать обратный звонок'|_}}</button>
    <div id="{{ __SELF__ }}_forms_flash"></div>
</form>