==
<form data-request="{{ genericForm }}::onFormSubmit">

    {{ form_token() }}
					    <div id="{{ genericForm }}_forms_flash"></div>

					<p>Имя</p>
					<input type="text" placeholder="Имя">
					<p>Email</p>
					<input type="Email" placeholder="Email">
					<p>Сообщение</p>
					<input class='form-message' type="text" placeholder="">
					<input type='submit'>Отправить</input>
					
					
    <div class="form-group">
        {% partial '@recaptcha' %}
    </div>
</form>